[2014-07-30 14:45] cmfcmf opened #611 "[ZK1.3.7|WebGen] Multiple issues"
(1) Some minor stuff, see this diff: https://github.com/cmfcmf/SimpleMedia/compare/cmfcmf:ce25cb34a693e247c65b1436ebf17f4e4b48a3ad...fixes

(2) When trying to create a medium, I get

This is because startdate as well as enddate metadata are a string and not a \DateTime object.

[2014-08-01 11:48] #611 closed, assigned to Guite

[2014-08-01 17:46] cmfcmf opened #612 "[ZK1.3.7|WebGen] UploadHandler does not respect markFiles"
Although I marked `lib/SimpleMedia/UploadHandler.php`, the file is generated as normal.

[2014-08-01 19:15] cmfcmf opened #613 "[ZK1.3.7|WebGen] Missing admin/main.tpl"
https://github.com/cmfcmf/SimpleMedia/blob/cmfcmf/lib/SimpleMedia/Controller/Base/Admin.php#L49
https://github.com/cmfcmf/SimpleMedia/tree/cmfcmf/templates/admin

[2014-08-03 08:23] #612 closed, assigned to Guite

[2014-08-04 16:47] cmfcmf opened #614 "[ZK1.3.7|WebGen] Missing variable in config template"
See https://github.com/cmfcmf/SimpleMedia/blob/b78d172c049f36ccc7902463d2045128d2e17dc6/templates/admin/config.tpl#L16, this variable is not set.

[2014-08-04 17:12] #614 closed, assigned to Guite

[2014-08-05 10:44] cmfcmf opened #615 "[ZK1.3.7|WebGen] generateRssTemplates false breaks generation"
Maybe I oversee something, but..
this file works well:
https://gist.github.com/cmfcmf/d31db420054bc79a5efb/5cc2d72f643a3deee8c4aa8f1c81f717bbd8745c

However, this file, only after adding [generateRssTemplates false](https://gist.github.com/cmfcmf/d31db420054bc79a5efb/revisions), does not generate:
https://gist.github.com/cmfcmf/d31db420054bc79a5efb

[code]

[2014-08-05 11:21] #615 closed, assigned to Guite

[2014-08-05 11:39] #610 closed, assigned to Guite

[2014-08-05 12:34] #613 closed, assigned to Guite

[2014-08-06 15:11] #602 closed, assigned to Guite

[2014-08-07 11:27] #329 closed, assigned to Guite

[2014-08-10 07:55] #5 closed, assigned to Guite

[2014-08-10 20:05] Guite opened #617 "Support REST and/or GraphQL APIs"
## Goal

Generated bundles should be able to provide REST and/or GraphQL APIs. Those are pretty near to CRUD, but may be enhanced and/or customised manually of course.

## Concept

- Behaviour should be disabled by default and configurable using generator settings.
- Preferrably use [API Platform](https://api-platform.com/) against other solutions like [FOSRestBundle](https://github.com/FriendsOfS

[2014-08-10 20:38] Guite opened #618 "Refactor view handlers out of controller actions"
Generated controller actions could be simplified by outsourcing the parameter handling into handler classes. Similar to form handlers there could be some kind of view handler which does some heavy work for the controller action (like processing the parameters of a certain view). For example a list view handler could care for sorting, filtering and further criteria (as _own_ and _all_).

As a benef

[2014-08-12 17:41] ghost opened #619 "[1.3.7] Typo in contenttype templates in url"
[code]

[2014-08-12 19:01] #619 closed, assigned to Guite

[2014-08-24 10:22] cmfcmf opened #620 "Unneeded ifs in entities?"
https://github.com/zikula/core/blob/1.4/src/system/ZikulaRoutesModule/Entity/Base/AbstractRouteEntity.php#L468-L470

Why are those ifs generated? And even if they are useful, shouldn't they use `!==` instead of `!=` (imagine a boolean nullable field which is set to `false`, I currently couldn't set it to `null`)?

[2014-08-24 10:23] cmfcmf opened #621 "To many spaces in entity classes"
https://github.com/zikula/core/blob/1.4/src/system/ZikulaRoutesModule/Entity/Base/AbstractRouteEntity.php#L5-L30

[2014-08-24 10:43] cmfcmf opened #624 "Re-work entity callbacks"
POSTLOAD
---------------
https://github.com/zikula/core/blob/1.4/src/system/RoutesModule/Entity/Base/AbstractRouteEntity.php#L889-L926

Currently, all the entity data is formatted for display, changed and altered *on every entity load!*. And it's based on *url arguments*. This causes lot's of problems as soon as entities of MOST modules are used by other modules or in different places. Example:
Th

[2014-08-24 17:04] ghost opened #625 "Pager in admin area is calling template in frontend"

[2014-08-25 09:33] #625 closed, assigned to Guite

[2014-08-25 10:00] #620 closed, assigned to Guite

[2014-08-25 10:09] #621 closed, assigned to Guite

[2014-08-31 11:03] cmfcmf opened #627 "Consider removing MOST version from file headers "Generated by ModuleStudio VERSION""
It's extremely hard to diff files if the MOST version changes, as EVERY file changes due to the header. Please consider to remove the version from the headers.

[2014-08-31 12:03] cmfcmf opened #628 "Finish refactoring from User/Admin to Entity controllers"
Before I used MOST 0.7, all actions were present in the user controller. Below you see some pictures of files where something is wrong. On the right the new 0.7 files, on the left the old 0.6.2 files:
- [x] model is not written to the docs anymore
- [x] "generated at" headers in `docs/htaccessTemplate` does not respect the `include generated date option`
- [x] javascript/SimpleMedia_editFunctions.

[2014-08-31 12:22] ghost opened #629 "[1.3.9] Typo in lib/MyModule/Block/Base/Moderation.php"
In moderation.php we have a typo near line 79:

[code]

[2014-09-01 06:30] #629 closed, assigned to Guite

[2014-09-07 13:52] Guite opened #630 "Move own events into event subsystem"
To avoid event dispatching cycles when several modules are working with each other all custom events should be decoupled by using an event subsystem.

More details available here: http://php-and-symfony.matthiasnoback.nl/2014/08/symfony2-event-subsystems/

[2014-09-12 13:47] Guite opened #631 "Evaluate Doctrine Instantiator"
Could be useful: https://github.com/doctrine/instantiator

[2014-09-17 20:46] Guite opened #632 "Remove obsolete getListener calls in bootstrap file"
Old listener implementation has become obsolete in https://github.com/zikula/core/issues/1711 and is going to be removed in https://github.com/zikula/core/issues/1982

Thus, the generated bootstrap files should not contain the `getListener()` calls anymore for 1.4 target.

[2014-09-22 14:35] Guite opened #633 "Remove lct support"
Follow-up from #628 @cmfcmf

Support for view/edit/delete/display actions in user and admin controllers has already been forbidden in the validation layer.

Now $lct can be removed and replaced by appropriate permission checks.

[2014-09-22 15:12] #628 closed, assigned to Guite

[2014-09-22 16:33] #460 closed, assigned to Guite

[2014-09-22 18:25] #632 closed, assigned to Guite

[2014-09-22 18:37] #631 closed, assigned to Guite

[2014-09-23 06:18] #627 closed, assigned to Guite

[2014-10-04 16:03] Guite opened #634 "CSV export using StreamedResponse?"
http://symfony.com/doc/current/components/http_foundation/introduction.html#streaming-a-response
http://obtao.com/blog/2013/12/export-data-to-a-csv-file-with-symfony/
http://www.designopsy.com/symfony2-export-csv/

[2014-10-04 16:06] Guite opened #635 "Repository classes review"
- https://beberlei.de/2013/03/04/doctrine_repositories.html
- http://www.craftitonline.com/2014/08/alternative-method-to-tame-symfonydoctrine-repositories/

[2014-10-09 18:30] ghost opened #636 "Plugin for TinyMCE does not work if plugin inlinepopups is active"
In scribite 4.3.0 the selection of an item does not insert the code into the textarea and the window does not get closed.

Don't know if it is relevant in scribite 5.0.0.

See https://github.com/Portugao/MUFiles/issues/13

[2014-10-30 19:09] Guite opened #637 "Missing redirect from main to config action"
See https://github.com/cmfcmf/SimpleMedia/commit/dd21f64499491ea9014542cf6861ed8e69bcd9d0
@cmfcmf

[2014-11-07 16:03] Guite opened #638 "Respect admin theme properly"
See https://github.com/zikula/core/issues/2051 for the details.

[2014-11-08 09:17] #638 closed, assigned to Guite

[2014-11-23 10:11] #636 closed, assigned to Guite

[2014-11-23 10:18] #637 closed, assigned to Guite

[2014-11-23 21:01] espaan opened #639 "Scribite plugings in Thirdparty base class point to wrong default location"
Hi,
in SM2 after re-generation with MOST 0.7 by @cmfcmf the location of scribite plugins is
modules\SimpleMedia\docs\scribite\plugins\CKEditor\plugins\simplemedia
whereas the base class Thirdparty.php
modules\SimpleMedia\lib\SimpleMedia\Listener\Base\ThirdParty.php
points to

[code]

this gives the effect that SCribite does not load when the editor loading lines are active.

Maybe it's just in SM2

[2014-11-24 08:47] #639 closed, assigned to Guite

[2014-12-06 11:23] Guite opened #640 "Support date validators introduced in Symfony 2.6"
http://symfony.com/blog/new-in-symfony-2-6-date-support-for-validator-constraints

[2014-12-09 11:04] ghost opened #641 "[1.3.x] We need objectType in admin and user controller for main function"
In line 47 we need:

[code]

[2014-12-09 11:35] #641 closed, assigned to Guite

[2014-12-09 11:48] ghost opened #642 "[1.3.x] Problems with shorturls after fix for #641"
A call of

[code]

leads me to

[code]

[2014-12-09 12:03] #642 closed, assigned to Guite

[2014-12-15 14:55] ghost opened #643 "[1.3.x] 1:n relation - saved source entity for target is not selected in the dropdown list"
If I wish to edit a target entity, the saved source entity is not selected in the dropdown list.

In MUFiles the collection : files relation is affected. Generated on WebGen.

[2014-12-15 15:55] #643 closed, assigned to Guite

[2014-12-15 20:12] ghost opened #644 "[1.3.x] 1:n relation - cannot save another source entity to a target entity"
Made a fresh install of 1.3.9 using the webgen version of MUFiles and for me it does not work.
The saved source entity is selected in the dropdown and I cannot save another one. Sorry.
PHP 5.4.34

[2014-12-17 08:40] Guite opened #645 "Legacy bridge methods are not generated"
The legacy controllers should contain bridge methods, so _admin_ and _user_ controllers can still be called (for keeping legacy short urls). Currently those methods are not always generated, which results in errors like

[code]

@portugao

[2014-12-17 19:11] ghost opened #646 "[1.3.x] Quick navigation gives error with categories"
If i want to filter by category I get these error messages:

[code]

[2014-12-18 08:36] #645 closed, assigned to Guite

[2014-12-18 09:15] #644 closed, assigned to Guite

[2014-12-18 09:25] #646 closed, assigned to Guite

[2014-12-19 13:21] ghost opened #647 "Javascript conflict by using scribite 5.0 with CKEditor or TinyMCE?"
Of the supported editors only the xinha editor is loading.
This issue appears when a MOST module is active. For example MUFiles, just generated with webgen.
Looks like problems with javascript?!

[2014-12-19 17:35] ghost opened #648 "Tag (hook module) does not work if panels active in edit template"
If panels are there in edit templates i cannot add tags; i think because of javascript problems.

[2014-12-19 19:39] ghost opened #649 "Embedded hooks in view template"
Not sure if it is requested.

[2014-12-19 20:09] ghost opened #650 "Hook does not differentiate between object types"
No matter if i use tags or ezcomments.
For example with MUFiles a saved comment is show for both, the 'collection' and the 'file' with the same id.

[2014-12-19 20:36] ghost opened #651 "Typo in Api/Base/Notification.php"
Line 163:

[code]

[2014-12-20 08:47] #651 closed, assigned to Guite

[2014-12-20 09:30] #650 closed, assigned to Guite

[2014-12-20 09:35] #648 closed, assigned to Guite

[2014-12-21 08:31] #649 closed, assigned to Guite

[2014-12-21 09:23] #647 closed, assigned to Guite

[2014-12-21 15:53] cmfcmf opened #653 "Java Error"
When I was trying to generate the RoutesModule for MOST 0.7, I received this error message:

[2014-12-21 15:57] #653 closed, assigned to Guite

[2014-12-22 09:49] cmfcmf opened #654 "JavaScript functions should be prefixed with vendor name"
The javascript functions in `Resources/public/js/ZikulaRoutesModule.js` are currently named like `routesSubmitQuickNavForm(objectType)` but should probably include the vendor prefix: `zikulaRoutesSubmitQuickNavForm(objectType)`.

[2014-12-22 10:12] cmfcmf opened #655 "Wrong HTML Hook code"
[This code](https://github.com/Guite/MostGenerator/blob/e690a0604ccffed1682dcb73600b1fece1c3303e/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/view/formcomponents/Section.xtend#L93-L114) leads to the following output:

[code]

[2014-12-22 10:26] #655 closed, assigned to Guite

[2014-12-22 10:43] cmfcmf opened #656 "All workflow parameters must be lower-cased"
Due to [this line](https://github.com/zikula/core/blob/bf76a77e0d88b859717048fdb1093003f43f6fff/src/lib/legacy/Zikula/Workflow/Parser.php#L122-122), all workflow parameters are lower cased.

Therefore the ZikulaRoutesModule_operation_notify function must check for **recipienttype** instead of **recipientType**.

[code]

[2014-12-22 10:44] #654 closed, assigned to Guite

[2014-12-22 10:48] #656 closed, assigned to Guite

[2014-12-22 11:16] cmfcmf opened #658 "Both Ajax and Admin controller are missing the Route annotation import"

[2014-12-22 11:24] #658 closed, assigned to Guite

[2014-12-22 14:37] cmfcmf opened #662 "Action dropdowns do not work"
They neither work on the view nor on the display page. I think it's because the trigger element and the dropdown elements must be wrapped into one `<div class="dropdown">` element.
The display page dropdown could be refactored like so:

[code]

[2014-12-23 18:00] ghost opened #664 "[1.3.x] Empty hook container 'provider.scribite.ui_hooks.editor' when tabs generated"
It appears a tab for the named area, that is empty. Should not appear.

[2014-12-24 10:50] #664 closed, assigned to Guite

[2014-12-27 13:36] ghost opened #665 "Inconsistency relevant to javascript in scribite plugin"
We have something like that:

[code]

and following functions in MUVideo_finder.js
and this:

[code]

in the relevant finder.tpl

so the calling of the finder.selectItem function will not get found.

I hope i'm clear enough.

[2014-12-27 13:43] #665 closed, assigned to Guite

[2014-12-30 10:47] #662 closed, assigned to Guite

[2015-01-02 21:32] Portugao opened #666 "Get javascript error with TinyMce Editor by calling it if plugin is activated"
[code]

[2015-01-03 11:25] Guite commented on #666
Please describe how you activated the plugin step by step.

[2015-01-03 12:42] Portugao commented on #666
I put the relevant files for TinyMce into the plugin folder of Scribite.
Then i activated the plugin of MUVideo in the settings of TinyMce.

[2015-01-04 11:24] Guite commented on #666
Fixed in cefeedea2fa8c3499e3544cb9722d0f458420838

[2015-01-04 11:24] #666 closed

[2015-01-04 17:34] Portugao commented on #666
:+1:

[2015-01-05 11:39] Guite opened #667 "Consider capabilities support in DSL"
Capabilities are a flexible feature which should be supported by the modeling language.
The modeler should be able to specify which capabilities a module is offering.

[Example implementation in version class](https://github.com/zikula-modules/Profile/blob/master/ProfileModuleVersion.php#L37)

[2015-01-05 16:05] Portugao opened #668 "[1.4.x] Trying to install test module gives symphony error"
If i try to install a test module i get this error:

[code]

[2015-01-05 16:25] Guite commented on #668
Fixed in 1b5d2cfa9e3ba827444d544ef44a3e945e1a7c58

[2015-01-05 16:25] #668 closed

[2015-01-05 16:53] Portugao opened #669 "[1.4.x] Trying to install gives namespace error"
[code]

[2015-01-05 16:58] Portugao commented on #669
The tables get created..state of the module is '1', not installed.

[2015-01-05 17:18] Guite commented on #669
@cmfcmf any idea why this does not affect the routes module? did you change something in the generated code with regards to this?

[2015-01-05 17:19] cmfcmf commented on #669
No, I don't remember changing something.

[2015-01-05 17:22] Guite commented on #669
Maybe this is also related to the module location (`modules/MU/mupolls-module/`)

[2015-01-05 17:59] Portugao commented on #669
I tried different ways to position the module with no helping effect?!

[2015-01-05 19:08] Guite commented on #669
Can you please try `modules/MUMUPollsModule/`?

[2015-01-05 19:14] Portugao commented on #669
Same issue!

[2015-01-08 11:07] Guite commented on #669
Please try the following:

Open `modules/MU/mupolls-module/Base/MUPollsModuleInstaller.php` and navigate to line 373. There should be something like
[code]

Please change that to
[code]
(repeat that for all entities you had defined in your model)

Afterwards try installing it again in a fresh core installation.

I assume that the shorthand syntax is not available as long as the module has not been

[2015-01-08 17:31] Portugao commented on #669
Then the module get installed, leading to this url:
[code]
and these errors:
[code]
and further:
[code]

[2015-01-08 18:00] Guite commented on #669
Both fixed in eff8dd167f74d7785cb67623ba64e9198ffe5938

[2015-01-08 18:00] #669 closed

[2015-01-10 07:38] Portugao opened #670 "[1.4.x] After install redirect with new error"
After install it leads to the same url.(see https://github.com/Guite/MostGenerator/issues/669)
and new error message:

[code]
[code]

[2015-01-11 07:05] Guite commented on #670
Fixed in dd2e06239eee75d12369d97b6c542617dd64691f

[2015-01-11 07:05] #670 closed

[2015-01-13 10:13] Portugao opened #671 "[1.4.x] After install there are no routes created in the routes module"
So if i call the module i get redirected to the routes module.

[2015-01-13 10:14] Guite commented on #671
For reference: this was tested with MUPolls.

[2015-01-13 10:20] Portugao commented on #671
Yes. Model is on 'http://webgen.modulestudio.de'

[2015-02-12 11:18] cmfcmf commented on #624
Additionally, the postLoadCallback->formatTextualFields has a huge performance impact on the Routes module, because it's done everytime route entities are loaded, although it isn't necessary in 99% of the cases.

[2015-02-18 12:42] Guite commented on #671
Could you please retest using the latest 1.4 core revision?

[2015-03-07 16:29] rallek opened #672 "ZKPRE14 module not installable at 1.4.0 ci build 448 (now588)"
[code]

[2015-03-11 13:18] Guite commented on #672
Maybe just a naming issue.
Please tell us the directory path of your module within `modules/`.
Also try renaming it to `modules/RKInfoModule/` if this is not the current path yet.

cc @cmfcmf @craigh

[2015-04-08 15:18] Guite opened #673 "Add support for Webshim and Polyfill"
The Zikula core 1.4.0 supports Webshim, which is a polyfill library that enables you to reliably use HTML5 features across browsers, even if native support is lacking.

1.4 target applications should be updated to take advantage of its features.

Refs. https://github.com/zikula/core/pull/2377

cc @shefik

[2015-04-08 15:22] Guite opened #674 "Support new functionality introduced in Symfony 2.7 and 2.8"

[2015-04-08 15:25] Guite opened #675 "Changes in Doctrine ORM 2.5"
Zikula 1.4.x supports Doctrine ORM 2.5

Review and apply migration steps: http://docs.doctrine-project.org/en/latest/changelog/migration_2_5.html

[2015-04-08 15:44] Guite commented on #241
https://github.com/Atlantic18/DoctrineExtensions/pull/1181

[2015-04-18 06:54] Guite opened #676 "Correct logic for related items display template"
Since entities contain their own actions in the 0.7.0 DSL, the generator can not rely on that all actions are available for all entities anymore.
This needs to be fixed for deciding whether embedded related items on a display page are supported or not.
If one A entity has a display action and many related B entities whereby B has no display action, current the following error occurs on A's display

[2015-04-27 12:10] #2 closed

[2015-05-04 08:19] Guite opened #677 "Use routes for custom actions also"
At the moment custom actions are generated without using routes.

[2015-05-06 13:28] Guite opened #678 "Create 2.0.0 target"
MOST 0.7.0 should support a dedicated 2.0.0 target version.

See also:

* https://github.com/zikula/core/pull/2447
* https://github.com/zikula-modules/Pages
 * https://github.com/zikula-modules/Pages/pull/49/files
* #674

[2015-05-07 07:39] Guite commented on #677
Fixed by bfe74a3bb9503c81cfba8f1777c24ed71c50a02e

[2015-05-07 07:39] #677 closed

[2015-05-09 09:06] Guite commented on #671
Works.

[2015-05-09 09:06] #671 closed

[2015-05-10 16:19] Portugao opened #679 "Deletion of several entries in view template does not work correctly with relations"
If i try to delete several entries in the backend, i get an workflow error message:

[code]

The reason seems to be that collections have a self-relation, so some of the entries are not there anymore, if the foreach loop is calling them....

Also the datas for the related items (here related collections) in the workflow table do not get deleted.

I don't know, if this issue is relevant anymore. I

[2015-05-12 21:42] craigh commented on #678
:+1:

[2015-05-13 09:54] craigh commented on #678
also see implementation in ZikulaPagesModule

[2015-05-15 11:19] Guite commented on #385
@cmfcmf is this still interesting (now that we have `markFiles` and `skipFiles`)?
If yes we need to decide how a stable version can or should be recognised.

[2015-05-15 12:04] Guite commented on #667
Added in 302f52950f03bf58a3c8c1af976387814c5b062d

[2015-05-15 12:04] #667 closed

[2015-05-18 05:46] Guite commented on #400
This issue is invalid, upload fields are reset during the copy: https://github.com/Guite/MostGenerator/blob/master/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/models/entity/EntityMethods.xtend#L529

[2015-05-18 05:46] #400 closed

[2015-05-20 13:49] rallek commented on #672
will have a look the next days

[2015-05-21 05:47] Guite commented on #416
https://github.com/zikula/core/pull/2447

[2015-05-23 21:47] cmfcmf commented on #385
Well, I don't have a particular opinion on this (anymore). You could just close the issue if you want.

[2015-06-03 05:47] Guite opened #680 "Wrong unique check parameter in JS"
The client side unique checks need to provide the entity name as first parameter. Instead the module name is generated/used at this place.

[2015-06-03 19:39] rallek commented on #672
I made the latest build in webgen now.
First I placed the module into ``/modules/RK/Info``. This because I defined the vendor as ``RK``

There I got the following 500 error:
[code]
Than I renamed the ``RK`` into ``RKInfoModule``. I did not reset anything inside the database (correct?)

This makes another error:
[code]
Changing to ``/modules/RK/RKInfoModules`` (again without any cleening in databas

[2015-06-03 19:44] Guite commented on #672
I think you should try `modules/RK/InfoModule/`.

[2015-06-03 19:47] rallek commented on #672
exactly the same error message

[2015-06-03 19:54] rallek opened #681 "make the images responsive"
For a website project I am learning the new possibilities (e.g. html5) at least a little :-) by reading two books about modern layouts/webdesign.

I found the following for images:
https://html.spec.whatwg.org/multipage/embedded-content.html#attr-img-srcset

With this you can specify which sizes picture is delivered in relation to the screen size. Might be good feature in future.

The usage of the

[2015-06-03 20:16] Guite commented on #681
Sounds like a bit too specific for a generic support in the DSL. MOST allows you to create three upload fields and use them like you want. You could also use the `hidden-*` and `visible-*-block` classes from bootstrap: http://getbootstrap.com/css/#responsive-utilities So at the moment I doubt such a feature will make it into the generator.

[2015-06-03 20:17] Guite commented on #681
cc @espaan @cmfcmf

[2015-06-03 20:27] rallek commented on #681
It is not an boostrap issue ;-)

Mobile devices should not get the big images. smaller ones would save kb in transfer and make sites faster!

And yes, this is an issue for the future

[2015-06-06 02:35] Guite commented on #673
Added loading of polyfill form features in aee407e33124661ca75ab959c41fab9aca7ddcc9

[2015-06-06 02:35] #673 closed

[2015-06-06 03:22] Guite commented on #672
Fixed in 886ae5995cfe4b8f7145f3574bcb4c3005f21c71

[2015-06-06 03:22] #672 closed

[2015-06-06 03:24] #385 closed

[2015-06-06 06:07] shefik commented on #673
:+1:

[2015-06-09 11:20] FRWo opened #682 "Filtering the categories"
It comes from MUFiles, made with ModuleStudio:

There seems to be a problem with the categories, because I cannot do a filter with subcategories.

The categories are shown, but I get only “Keine Kollektionen gefunden”, so the only way to see any collections is filter with “all”

[2015-06-16 08:45] Portugao commented on #682
@FRWo
I think we can close this issue?!

[2015-06-16 08:59] FRWo commented on #682
Yes, so do I – thank you

Von: Michael Ueberschaer [mailto:notifications@github.com]
Gesendet: Dienstag, 16. Juni 2015 10:46
An: Guite/MostGenerator
Cc: Frank
Betreff: Re: [MostGenerator] Filtering the categories (#682)

@FRWo <https://github.com/FRWo>
I think we can close this issue?!

—
Reply to this email directly or view it on GitHub <https://github.com/Guite/MostGenerator/issues/682#issuecomm

[2015-06-16 09:04] #682 closed

[2015-06-18 18:13] Guite commented on #87
This feature is now implemented (time picker and date picker), see the following commits:

* aa00d1b3c2cbbee0eb5b7552d6561b1d3ff0b296
* https://github.com/Guite/MostHelp/commit/3966a139d80880fb0691678e20f7655a93003c83
* https://github.com/Guite/MostLocales/commit/fb740ecc397539af589912ce26bc5426bf82e262

[2015-06-18 18:13] #87 closed

[2015-07-03 17:24] rallek commented on #672
I still have problems to create. I generated the module new today. I uploaded it to /RK/InfoModule.

Now i get this message:
Catchable Fatal Error: Argument 1 passed to Zikula\Core\Api\AbstractApi::__construct() must be an instance of Zikula\Core\AbstractBundle, instance of appProdProjectContainer given, called in /www/htdocs/w012cf87/Zikula_Core-1.4.0/modules/RK/InfoModule/Base/InfoModuleInstalle

[2015-07-04 08:51] Guite commented on #672
This is another problem introduced by a recent switch to the new base api class offered in 1.4.
Probably fixed in 6d12fd1b4bceadc36275bdfdcdb0dcbcfdcd0ac1

[2015-07-04 10:39] craigh commented on #672
the Api class in question didn't exist at all until [two weeks ago](https://github.com/zikula/core/commit/2a23c4cd474ae48e5a2ebf8611eefc444a87b839)

[2015-07-21 19:23] Portugao opened #683 "[1.4.x] 1:n relation - dropdown in target edit form gives error"
[code]
I cannot send the form.

[2015-07-21 19:39] Portugao opened #684 "[1.4.x] datetime field not possible to edit"
Edit:
If i delete the datetime, the actual datetime get saved.
The field is not mandatory.

[2015-07-29 09:29] Guite opened #685 "Option for generating separate user templates"
Perhaps there could be an entity setting that lets the developer decide whether to use the current format of having one entity for both admin and user areas, or to use:

[code]

where myEntity/myUserTemplate.tpl is the same template as default, as a starting point.  It's not a big change to do manually but it's one less customization to manage.

cc @robbrandt

[2015-08-16 06:27] Guite commented on #500
@espaan any idea about this one? My guess is that this is done already. Could you please check and report back?

[2015-09-05 16:51] cmfcmf opened #686 "Replace all system module paths"
1. All paths referencing system modules, like refs https://github.com/zikula/core/issues/2578
2. All js / css paths of generated modules with the systemModule flag set.

example from inlineRedirectHandler.tpl:
`<script type="text/javascript" src="{$baseurl}system/ZikulaRoutesModule/Resources/public/js/ZikulaRoutesModule.EditFunctions.js"></script>`
-->
`<script type="text/javascript" src="{$baseur

[2015-09-06 07:20] Guite commented on #678
Target added without any further changes here:
https://github.com/Guite/MostGenerator/commit/29e84f289e03281e06afe64e3f29af5e4bcecc63
https://github.com/Guite/MostHelp/commit/4f75260acbbca932837443637a572239ad1d6ad4

[2015-09-06 07:29] Guite commented on #686
point 1 is done in https://github.com/Guite/MostGenerator/commit/731ec6184f8ed2339847616710643a9ba10e2be3
point 2 needs to wait a bit

[2015-09-06 12:13] craigh commented on #678
The 2.0.0 Spec isn't finalized yet

[2015-09-06 13:52] cmfcmf commented on #686
Thanks :+1:

[2015-09-07 15:01] cmfcmf opened #687 "LinkContainer has issues"
- Missing method
[code]
- cannot use $this->name
- cannot use $this->get()
- $router and $translator must not be private

[2015-09-07 15:11] Guite commented on #687
Fixed in adb2cd08e3d1f4fb7e094b746b59dd5497388cfd

[2015-09-07 15:11] #687 closed

[2015-09-07 15:36] cmfcmf opened #688 "More LinkContainer problems"
- cannot use $this->name
- cannot use $this->get()
- $router and $translator must not be private

[2015-09-07 15:48] Guite commented on #688
Fixed in 994bbf46ce9a1284cb2d343cd2f3cbc2c6248da4

[2015-09-07 15:48] #688 closed

[2015-09-07 15:49] cmfcmf commented on #688
Thank you.

[2015-09-18 13:09] cmfcmf opened #690 "HookAreaPrefix wrong"
Currently `routes.x.x` is generated, but it should be `zikularoutesmodule.x.x` in 1.4.

https://github.com/Guite/MostGenerator/blob/2fbd823b91f4a6bd2f947f738b6389870376f344/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/models/entity/EntityMethods.xtend#L395

[2015-09-18 13:49] Guite commented on #690
Fixed in 86f7089afdced8b5831a48a653b7a1c9965e71c1

[2015-09-18 13:49] #690 closed

[2015-09-18 16:31] rallek commented on #672
and now I have again the problen that I can not install the module (fresh generated with 86f7089 ):

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

Capabilities-Eigenschaften müssen ein Array sein in der Form arra

[2015-09-18 16:44] Guite opened #691 "Capabilities error in 1.4 module"
@rallek got the following error message when installing a module:

[code]

Probably caused by recent addition of `categorizable`.

The corresponding code looks like this:

[code]

@cmfcmf @craigh any idea?

[2015-09-18 16:44] Guite commented on #672
Please open new issues for new issues -> https://github.com/Guite/MostGenerator/issues/691

[2015-09-18 16:45] rallek commented on #691
I got this error while opening the extension module already

[2015-09-18 16:46] rallek commented on #672
will do in future, sorry

[2015-09-18 18:03] craigh commented on #691
This is a generated 1.4 module? using what version of MOST? I thought there was no compatible release?

[2015-09-18 18:04] rallek commented on #691
webgen. Just a try

[2015-09-18 18:14] Guite commented on #691
@craigh the webgen allows always regenerating your model using the latest git version of the generator. You may read http://modulestudio.de/en/news/modulestudio-launches-service-for-web-based-generation.html for more details.

[2015-09-18 18:15] craigh commented on #691
ok - please translate the error.

[2015-09-18 18:16] Guite commented on #691
somehow Christian must have gotten the new Routes module, too ;-)

[2015-09-18 18:20] rallek commented on #691
raw translation:

Capabilities-properties must be an arry in the format(capability => array(version => string, ... => ... in RK\InfoModule\InfoModuleVersion

[2015-09-19 00:01] robbrandt opened #692 "Ampersand handling"
I am using MOST 06.2, so this might be an old issue.

I am doing some heavy data processing while importing data.  I am finding repeatedly, in many entities, that text values containing ampersands aren't handled nicely.  The gist of the problem is that the data is initially persisted correctly, for example "A & B" as "A &amp; B".  However if that entity is gotten, manipulated and then persisted ag

[2015-09-19 07:31] Guite commented on #692
Maybe an easier (central) workaround until the issue is solved: lookup the `formatTextualField` method in the base entity class. There you will find this condition:

[code]

Change it to:

[code]

[2015-09-19 07:32] Guite commented on #692
Or even better: override it in the child class like this:

[code]

[2015-09-19 11:46] cmfcmf commented on #692
refs https://github.com/Guite/MostGenerator/issues/624

[2015-09-20 21:15] cmfcmf commented on #691
[code]
should work.

[2015-09-20 21:16] cmfcmf commented on #691
(replace "blubb" by something more.. intelligent.)

[2015-09-20 23:48] craigh commented on #691
That isn't how I originally intended it. it should be
[code]

so that there can be multiple entities in the array. e.g.
[code]

if that isn't working then there is a problem somewhere.

[2015-09-21 07:53] cmfcmf commented on #691
Capabilities must be Arrays of Arrays, this is how it is designed. Search
for "capabilities must be" in the core.

Craig Heydenburg <notifications@github.com> schrieb am Mo., 21. Sep. 2015
01:48:

[2015-09-21 09:54] craigh commented on #691
it IS. It just doesn't have associative keys in the final array. see below.

[code]

[2015-09-21 09:58] Guite commented on #691
So this would be correct?

[code]

[2015-09-21 10:14] cmfcmf commented on #691
Ok, it must have associative keys then. See https://github.com/zikula/core/blob/master/src/lib/legacy/Zikula/AbstractVersion.php#L505-505

[2015-09-21 10:15] cmfcmf commented on #691
@guite Yes this should work.

[2015-09-21 10:17] Guite commented on #691
Fixed in fa881e41c9cabbbcf0c9a635db9da3a3f851acc5

[2015-09-21 10:17] #691 closed

[2015-09-23 11:00] Guite commented on #241
Also the slugs `edit` and `delete` should be disallowed to prevent route conflict between display and edit/delete actions.

[2015-09-26 10:27] rallek commented on #263
At the moment this ticket is my biggest whish. One more idea how to do.
If I declare one field for an entity there is in MOST on the right the area to adjust the propperties of the field. Allways if the field do offer the possibility to give a ``default`` value I propose to have an additional field named ``defaultVarialble``. This have not to be declared in the variable container but will be gerne

[2015-09-27 11:29] rallek commented on #685
the current version of webgen seems not to create User-Templates anymore

[2015-09-27 12:48] Guite commented on #685
Reasonable when you did not add a user controller to your model.

[2015-09-27 12:54] rallek commented on #685
ups

[2015-09-27 13:05] rallek opened #694 "can not drop a MOST module"
tried to drop a module generated with 0.7.0 Webgen for target ZK1.4.

Inactivating is working fine but if I want to drop it I do get the error message:
[code]
It is still marked as inactive

[2015-09-27 13:52] rallek commented on #685
Ok, now I have the user templates :-)

Thinking about this discussion issue: I will very often have two different layouts for user and for admin. The user will become some reduced boostrap layouts while the admin should have the current full table version. I think I will not use this option very often (with my current thinking).

[2015-09-27 14:49] rallek commented on #681
As Zikula is doing manly a very good job in caching different file sizes per image, this feature request si not important anymore

[2015-09-27 14:54] Guite commented on #694
Please edit your `app/config/custom_parameters.yml` changing `env` to `dev` and `debug` to `true`. Afterwards you should see a more comprehensive error message including a full stack trace.

[2015-09-27 15:03] rallek commented on #694
here is the output:
[code]
The logs are very long. Here is the error:

[code]

[2015-09-27 16:36] rallek opened #696 "search function is not working for target ZK1.4"
I made a very simple pages module (Title and description) by MOST with target ZK1.4.

I added some data and tried to find them via searching function of zikula. The MOST module is listed in the search site but no result is shown.

[2015-09-27 16:51] #694 closed

[2015-09-28 06:30] rallek commented on #681
mmh, closing was not my proposal, because that are two different things. Depending on the "screen" we have to deliver different image sizes. It was just my feedback that tis is even in future not the first to do ;-)

[2015-10-01 06:01] robbrandt commented on #692
Is there a function that will clean up an entire object?  I have some entities with one to many relations that of course have entire collections in them, and cascade persist.  So keeping them "clean" is becoming incredibly unwieldy doing it one field at a time.

[2015-10-01 10:05] cmfcmf opened #697 "Assertion for multiple dropdown lists don't work"
- remove the `@Assert\Callback` if multiple dropdown
- remove the callback function
- add this function (example for RouteModule + "method" field):
[code]

[2015-10-01 10:16] cmfcmf opened #698 "Entity validation called in entity callbacks works (i.e. generates flashes), but doesn't stop the entity from being created / updated"

[2015-10-02 05:15] Guite commented on #697
What does the `routeType` value mean?

[2015-10-02 06:29] cmfcmf commented on #697
Whoops, it's the field name and should be "methods" as well.

[2015-10-04 11:55] craigh commented on #633
recommend removal of `blocked` here and proceed with implementation of Controller Method annotations.

[2015-10-04 11:57] craigh opened #699 "add twig template generation (remove Smarty)"
Core-1.4.1 fully supports Twig templates and Symfony Controllers. MOST should migrate to this asap.

[2015-10-04 12:01] craigh commented on #686
something like this would be more appropriate in Smarty

`{pageaddvar name='javascript' value='@ZikulaRoutesModule/Resources/public/js/ZikulaRoutesModule.js'}`

use `{{ pageAddAsset() }}` in Twig.

[2015-10-04 12:08] cmfcmf commented on #686
But don't just refactor blindly to `{{pageAddAsset`, because it behaves differently than `{pageaddvar`, as it doesn't preserve the order of the assets if you don't provide different weight parameters.

[2015-10-07 14:13] Guite opened #700 "Use grids for right column on display pages"
Related items are listed on the right side on display pages. This is currently done using a manually floated div which is not behaving nice with regards to responsiveness. Better would be using bootstrap grids here.

[2015-10-13 22:54] craigh opened #701 "Util services cannot extend legacy classes"
Util service cannot extend legacy classes like Zikula_AbstractBase

refs https://github.com/zikula/core/issues/2507

see https://github.com/zikula/core/blob/1.4/src/system/RoutesModule/Util/Base/ControllerUtil.php#L22

This is because in the constructor the class requires the `Request` object and this is not available when using CLI (or other means).

IMO, services should be 'clean' and not extend

[2015-10-24 07:45] Guite commented on #676
Check also the `RKGarage` model from @rallek

`Image/include_displayItemListMany.tpl` is not generated although the `Image` entity contains a display action.

[2015-10-25 14:21] craigh commented on #701
@Guite can you please look more closely at this asap as it relates to

https://github.com/zikula/core/pull/2576

That PR can't be finished until this issue is resolved. Thanks

[2015-10-28 07:53] Guite commented on #701
One question about this: what to do if the request object is needed in a certain method? This means that it can not used with CLI automatically, right?

[2015-10-28 09:17] craigh commented on #701
I imagine it should be delivered to the method as an argument.

[code]

[2015-10-28 09:58] craigh commented on #701
A better idea would be to only deliver the properties of the object that you need

[code]
This is a better approach IMO and is more easily testable.

finally, if you *must* have the entire object you could also make your Util class a service and inject it on construction. See other symfony services through the core for examples.

[2015-10-28 10:52] cmfcmf commented on #701
You should really try hard to remove as many dependencies to the request and FormUtil as possible.

[2015-10-29 15:56] Guite commented on #416
Maybe interesting: https://github.com/jeanlucc/sf-form-collection-js

[2015-10-31 07:52] Guite commented on #701
Refactoring done in d8c737d55cc08c10e21b813f9cedb72c49c04df5

[2015-10-31 07:52] #701 closed

[2015-10-31 07:59] Guite commented on #697
Added in 2472ad3ed5ddcaf23639132edd1355c1d6aabf15

[2015-10-31 07:59] #697 closed

[2015-11-08 08:15] Guite opened #702 "Option for hook subscriber enablement"
A new property should allow control over whether hook subscribers are desired for an entity or not.

cc @craigh

[2015-11-10 17:12] Guite opened #703 "convert service names to standardised convention"
https://github.com/zikula/core/issues/2550
https://github.com/zikula/core/blob/1.4/src/docs/en/dev/conventions.md

[2015-11-10 17:13] Guite opened #704 "Support new VariableApi"
https://github.com/zikula/core/pull/2624

[2015-11-10 17:14] Guite opened #705 "Split up service configuration file"
https://github.com/cmfcmf/MediaModule/commit/5437a10b8e4b09fc03761c421a11e4482c8e4a77

[2015-11-10 17:15] Guite opened #706 "Use SortableColumns component"
https://github.com/zikula/core/blob/1.4/src/docs/Core-2.0/SortableColumns.md

[2015-11-10 17:16] Guite opened #707 "Implement new composer spec"
https://github.com/zikula/core/blob/186dee19c8e28a762ae01cd54fb44689872ec131/src/system/MailerModule/composer.json#L20

[2015-11-10 17:18] Guite commented on #633
https://github.com/zikula/core/issues/2112

[2015-11-10 17:20] Guite commented on #699
See also
https://github.com/Guite/MostGenerator/issues/571
https://github.com/zikula/core/pull/2634

[2015-11-10 17:22] Guite opened #708 "Move hook bundles into helper class"
outsource hook bundles into helper class, like https://github.com/zikula-modules/Pages/blob/master/Helper/HookHelper.php

[2015-11-10 17:23] Guite opened #709 "Support new PermissionApi"
https://github.com/zikula/core/blob/1.4/src/docs/Core-2.0/PermissionApi.md
https://github.com/zikula/core/pull/2630

[2015-11-10 17:25] Guite opened #710 "Check event listeners wrt coupling"
http://mmoreram.com/blog/2015/08/20/re-thinking-event-listeners/

[2015-11-10 17:25] craigh commented on #707
This should be expanded to match the entire new `composer.json` spec.

https://github.com/zikula/SpecModule/blob/master/composer.json
https://github.com/zikula/SpecModule/blob/master/composer.md

I only added the `url` in those cases because the /system modules are not yet final in development but this was a good solution at the moment.

[2015-11-10 17:26] Guite commented on #707
Thanks for elaborating - added the `feature` label accordingly :smile:

[2015-11-10 17:30] craigh commented on #707
also - with the implementation of the new `composer.json` spec, the old `Version` class should be removed.

[2015-11-10 17:34] Guite opened #711 "Review and improve usage of active annotations"
Currently the generator utilises some Xtend annotations without leveraging their powerful options yet. Active annotations allow for taking influence on how Xtend sources are compiled to Java sources.

* `@Accessors`
 * adding it to a member variable creates public getters and setters
 * `@Accessors(PUBLIC_GETTER)` creates only a public getter
 * `@Accessors(PUBLIC_SETTER)` creates only a public se

[2015-11-11 08:10] Guite opened #712 "Advanced thumbnail cropping options"
https://github.com/stojg/crop

[2015-11-11 08:21] cmfcmf commented on #712
It would be great if the entropy based cropping could somehow be included in the Imagine plugin. Then I could also use it for the MediaModule.

[2015-11-11 17:27] Guite commented on #705
Implemented in a554203c392855f64e6e6f789a8e81165b9d4e6c

[2015-11-11 17:27] #705 closed

[2015-11-11 17:30] Guite commented on #707
Also #708 should be done in the same step.

[2015-11-12 10:26] Guite commented on #708
Done in b8853a9c51b58553c60cc729dff26be02354369c

[2015-11-12 10:26] #708 closed

[2015-11-12 10:26] Guite commented on #707
Done in b8853a9c51b58553c60cc729dff26be02354369c except app dependencies reported in https://github.com/zikula/core/issues/2640

[2015-11-12 10:26] #707 closed

[2015-11-12 10:49] Guite commented on #711
Applied in 87a52e46159640465198170de5cfbd01c7adda30

[2015-11-12 10:49] #711 closed

[2015-11-12 10:50] Guite commented on #706
@craigh is this component used somewhere already?

[2015-11-12 10:53] Guite commented on #703
Fixed in a3fd9778d0e2ac5aeb067b9df5eeef4ff4960beb

[2015-11-12 10:53] #703 closed

[2015-11-12 12:09] craigh commented on #706
https://github.com/zikula-modules/Pages/blob/master/Controller/AdminController.php#L68-L77

plus a little before and after. look at the whole controller.

[2015-11-12 13:59] Guite commented on #500
Closed as probably done. Feel free to reopen or create a new issue if you encounter any problems.

[2015-11-12 13:59] #500 closed

[2015-11-12 14:47] Guite commented on #704
Implemented in bf3ce8ecce8dd44816908863a8fbc6681af4ca83

[2015-11-12 14:47] #704 closed

[2015-11-12 15:32] Guite commented on #709
Implemented in e705a4e74821d4c7c984b09fb16f2cb07018f649

[2015-11-12 15:32] #709 closed

[2015-11-12 15:40] Guite commented on #700
Changed in 3c71bbbb9eb12dc5be75ee595336de980a64ea27

[2015-11-12 15:40] #700 closed

[2015-11-12 15:41] Guite commented on #699
Closed as duplicate of #571

[2015-11-12 15:41] #699 closed

[2015-11-13 14:26] Guite commented on #706
Added basic implementation in 357c692b93f613f05ce9ff4646333e0d09626efe

[2015-11-13 14:26] #706 closed

[2015-11-13 15:06] Guite commented on #710
No action required, since the generator creates no comprehensive listener implementations. For those implementations which are generated the actual logic is placed elsewhere.

[2015-11-13 15:06] #710 closed

[2015-11-13 15:16] Guite commented on #698
Can you elaborate on which specific use case you tested that? From what I've seen so far entities are indeed stopped from being processed if a validation error occurs.

[2015-11-15 09:31] Guite commented on #680
Fixed in 9701ab85eea915c0bfbfaa4ac60dfd15ab1ae9d7

[2015-11-15 09:31] #680 closed

[2015-11-15 09:37] Guite commented on #684
Please confirm again: is this a `datetime` or a `date` field?
For `datetime` fields there is no custom form plugin used, so maybe it is a core issue?

[2015-11-15 19:58] rallek commented on #696
seams not to be most:
https://github.com/zikula/core/issues/2643

Or now I have found another problem with search

[2015-11-16 09:10] Guite commented on #696
Fixed in d876310c7a1494be96c388ed79e30afd73876be3

[2015-11-16 09:10] #696 closed

[2015-11-16 09:11] Guite commented on #416
This has become a blocker now, because the old forms can not be used with new controllers.

[2015-11-16 11:22] Guite commented on #633
Questions about introducing the theme annotation like it is done here: https://github.com/zikula-modules/Pages/blob/master/Controller/AdminController.php#L45

1. Given a structure like this:
[code]
we need to have two different routes. If `persons/` (and `persons.xml`, `persons.csv`, `persons.rss` and so on) point to the `view` method, how should we name the `adminView` route? Would `admin/persons

[2015-11-16 11:42] Guite commented on #686
Fixed in https://github.com/Guite/MostGenerator/compare/d876310c7a1494be96c388ed79e30afd73876be3...1f806af0e77fc88f4c7b2fc8ffb87a5419f74db2

[2015-11-16 11:42] #686 closed

[2015-11-16 11:47] Guite commented on #678
This can be closed. Twig and Forms migration is done in #571 and #416

[2015-11-16 11:47] #678 closed

[2015-11-16 13:51] craigh commented on #696
Is the core ticket valid or not?

[2015-11-16 13:55] Guite commented on #696
I think it is, but I did not experience that issue. @rallek meant it could be related to Profile being activated. Sorry, don't know exactly.

[2015-11-16 14:01] craigh commented on #633
1. Remember that the routes are usually prefixed by the module prefix, i.e. /pages/person and /pages/admin/person - and yes I think the route you proposed is appropriate.

2. The point of the capability routes is to eliminate the silly redirecting we do. So yes please eliminate the index method and name the method appropriately and indicate the new method in the capabilities array. There is no req

[2015-11-16 15:09] Guite commented on #633
@cmfcmf do you have anything to add here?

[2015-11-16 15:16] craigh commented on #633
Another point about SpecModule - those methods are named "index" which should be changed as a proper demo. I only meant SpecModule as an example of non user/admin controller names (currently)

[2015-11-17 13:12] Guite commented on #676
Fixed in de94f586a033f215e8491db2010a5356ed502161

[2015-11-17 13:12] #676 closed

[2015-11-17 18:23] rallek opened #713 "can not uninstall a MOST module"
deactivating is working but if I want to uninstall I do get the question if I really want to uninstall. Than I do get a 500. e.g. News I can delete without any problems.

[code]

[2015-11-17 19:31] rallek opened #714 "can not install a MOST module"
I fresh generated a simple module via webgen (de94f58).
Zikula 1.4.1 dev ci build 114
The module is located in /modules/RK

The module is not visible in the extension list.

I also tried to place the module in /modules directly. Same result

just to try another module I placed News in /modules. This module is visible for installation.

[2015-11-18 10:28] Guite commented on #713
Fixed in b7e8ebb9369df208c9780601de8b3f2e8e8c713d

[2015-11-18 10:28] #713 closed

[2015-11-18 12:18] Guite commented on #714
Fixed in fc6434d1d9e88a7bd41b8a277e20662415ac1eb8

[2015-11-18 12:18] #714 closed

[2015-11-18 14:10] Guite commented on #702
This feature has been implemented:
97d5acbbe41ead351533ea3d8096a34ea5f86dfd
https://github.com/Guite/MostHelp/commit/b92af995fd364b44948fe71d31f6248edf5555e2
https://github.com/Guite/MostLocales/commit/c976344df70062773c6e110de7077676fac565a9

[2015-11-18 14:10] #702 closed

[2015-11-18 15:12] Guite commented on #698
Some explaination about it *should* work.

The `preSave` callback executes the `validate` method and aborts if an error occurs:
https://github.com/Guite/MostGenerator/blob/master/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/models/EventListener.xtend#L406

The actual validation is done here:
https://github.com/Guite/MostGenerator/blob/master/org.zikul

[2015-11-19 07:54] Guite commented on #479
Isn't this just a special use case for #263 ?
Meaning: if #263 is implemented do we need #479 ?

[2015-11-19 08:01] #675 closed

[2015-11-19 12:35] espaan commented on #500
good !

[2015-11-20 09:07] Guite commented on #630
Closed as this does not apply to the generated code.

[2015-11-20 09:07] #630 closed

[2015-11-20 13:51] Guite commented on #683
Can you tell me how to reproduce this? Which entity did you edit from which model?

[2015-11-20 14:33] cmfcmf commented on #698
I was editing routes with an earlier version of the Routes module. I think returning false from the entity callback didn't stop the creation.

[2015-11-20 14:34] cmfcmf commented on #633
Nothing to add here, Craig summed it up pretty good.

[2015-11-20 14:55] Guite commented on #100
If we need to fix this urgently we could use a workaround by calculating the pixels a label requires before rendering it.
The class `org.eclipse.xtext.ui.util.PixelConverter` allows for doing this calculation based on the given font. If the result is too large we choose a smaller font size.

[2015-11-20 15:32] Guite commented on #698
Fixed in 997ed9d2130bff322a8f9ea0e4cdcf8861e458c1

[2015-11-20 15:32] #698 closed

[2015-11-21 06:58] Guite opened #715 "Remove controllers"
Historically a model contained 1. controllers with actions and 2. entities - both were strictly separated from each other.

When routing was adapted the concept _entity controllers_ was introduced in addition.​ This means that during modeling (and therewith on a more abstract level than implementation) an entity element represents not only the actual entity class, but also a corresponding entity c

[2015-11-21 08:17] rallek commented on #715
I am not shure if I understand right. With ajax and custom I never have had an idea what they are doing. I only know I do need the ajax. Users is responsible for the frontend and admin for backend. If it means we will not have no backend anymore I do not like your proposal. I do like the possibilities to have different views for admin and users.

[2015-11-21 08:24] Guite commented on #715
Admin and user controllers are already replaced by entity controllers. This issue is only about whether we could still need them for other things.

[2015-11-21 08:25] rallek commented on #715
Ah! Ok I do not understand the differences. But if frontend and backend are still available I am happy with your proposal :-)

[2015-11-21 10:52] Guite commented on #633
Theme annotation feature has been implemented.
78f3018bad4b83a7015e1bcd74057bc16ffeb643
https://github.com/Guite/MostHelp/commit/45ffaf2aa37540244863f7b9fe416b3ddcbaf159
https://github.com/Guite/MostLocales/commit/e9f0caa058f9c7d67146b61e4b704b34588d27c9

[2015-11-21 10:52] #633 closed

[2015-11-21 12:48] craigh commented on #715
I am also not sure I understand.

entities are not controllers. perhaps you mean something different? Separation of concerns dictates that the entity should be "dumb" and only represent an object (which doctrine can use to persist). The entity shouldn't "do" anything.

[2015-11-21 14:03] Guite commented on #715
What I meant is that during modeling (and therwith on a more abstract level than implementation) an entity element represents not only the actual entity, but also the corresponding entity controller. You can not only add fields and indexes to an entity, but also actions. The generator accordingly creates a controller class for each entity element.

[2015-11-21 14:11] craigh commented on #715
so the actual entity class doesn't do all that stuff, right? It shouldn't.

when the module is generated it separates the fields, indexes, and **actions** into another class - a controller? maybe a generated example would help me understand...

[2015-11-21 14:13] Guite commented on #715
Entity class: https://github.com/zikula/core/blob/1.4/src/system/RoutesModule/Entity/Base/AbstractRouteEntity.php
Entity controller class: https://github.com/zikula/core/blob/1.4/src/system/RoutesModule/Controller/Base/RouteController.php

[2015-11-21 14:14] Guite commented on #715
Basic subject of this issue is now that all default actions are handled by entity controllers anyway, do we still need the ability for modeling admin/user/ajax/custom controllers.

[2015-11-21 14:23] craigh commented on #715
IMO, doing things like [this](https://github.com/zikula/core/blob/1.4/src/system/RoutesModule/Entity/Base/AbstractRouteEntity.php#L1318-L1319) in an entity class are a bad idea. Entities should be 'dumb' representations of a persist able object.

I'm still not sure I understand the subject of this ticket. I think @cmfcmf would understand my position and yours better than I am explaining it and may

[2015-11-21 14:26] Guite commented on #715
This is going off-topic.

The point of this issue is: do we still want to be able to define additional controllers in a model or not?

[2015-11-21 14:59] Guite commented on #715
Historically a model contained 1. controllers with actions and 2. entities - both were strictly separated from each other. When routing was adapted entity controllers were introduced in addition.
​
This is basically the same like Craig's new controller in the BlocksApi branch:
https://github.com/zikula/core/blob/BlockApi/src/system/BlocksModule/Controller/BlockController.php

With these entity con

[2015-11-21 15:00] Guite commented on #715
Summary:

In 0.7.0 validation will show errors for any of these controllers contained in a model.
In 0.7.0 there won't be palette tools for these elements available anymore.
In 0.7.1 (or 0.7.2) they will be removed from the dsl.

[2015-11-21 15:04] Guite commented on #260
This includes #715

[2015-11-21 17:00] cmfcmf commented on #715
Indeed, but I think @guite is well aware that the entity classes are a big mess at the moment.

:+1:

[2015-11-22 14:46] rallek commented on #714
ci build 114. After installing I do get a blanc screen :-(
the URL is ``http://mysite.de/extensions/modules/initialize?id=20&startnum=0&csrftoken=NTY1MWQ0OWFlMWJmMjkuNDM5ODg4ODY6MWZkMWY5Y2U3YzAzM2YyZjYxNDhkYWIyYjc0ZjNhM2I6MTQ0ODIwMzQxOA%3D%3D``

[2015-11-22 15:39] rallek commented on #714
in another installation I tried it on ci build 116 and with a fresh generation of webgen. Now I get the following:
[code]

[2015-11-22 15:48] Guite commented on #714
Fixed in 9deb74742cf72075702acdd4b981f5f3f784edeb

[2015-11-22 16:05] rallek commented on #714
nope:
[code]

[2015-11-22 16:08] Guite commented on #714
Fixed in b052d311932fc9c970d8666b602e45e849e32a04

[2015-11-22 16:33] rallek commented on #714
next one...
[code]

[2015-11-22 16:36] Guite commented on #714
Fixed in 72d1c50cb7c9ae68a05068f9ed60d991be99323a

[2015-11-22 16:51] rallek commented on #714
and one more...
[code]

[2015-11-22 16:55] Guite commented on #714
Fixed in 356dfcd3c6517ef36ca35a976b73c295e7e1f48b

[2015-11-22 19:27] rallek commented on #416
if it is a blocker the label should be readded ;-)

Have to wait now until this is fixed.

[2015-11-23 06:34] Guite commented on #416
There is no `blocker` label in this repository.
There is only `blocked` which is used for issues where something in the core needs to be done first.

[2015-11-30 16:48] Portugao commented on #683
Should be the model of MUPolls saved in the webgen.

[2015-11-30 16:54] Portugao commented on #684
Hmmhmm..if i'm right, it is a datetime field.
I should test with actual core; not sure if i get time this year.....

[2015-12-05 20:20] rallek opened #716 "make 1.3 modules working in 1.4 environment"
pagination issue make it impossible to use 1.3.x modules for 1.4.x.

it would be great if MOST delivers code what you suggested in https://github.com/Portugao/MUImage/issues/112 in your untested skeleton.

This feature would make it possible to create modules for 1.4 until the issue https://github.com/Guite/MostGenerator/issues/416 has been solved

[2015-12-06 08:42] Guite opened #717 "Support new Blocks Api"
https://github.com/zikula/core/blob/1.4/src/docs/Core-2.0/Blocks.md
https://github.com/zikula/SpecModule/tree/master/Block

Relates with #571 and #416

[2015-12-06 12:23] craigh commented on #717
please wait until finalized and merged :smile:

[2015-12-06 12:24] Guite commented on #717
Sure.

[2015-12-08 12:06] Guite commented on #692
Fixed in f4f1cd00ee535ea96c864b8994377bd4fe0f3938

[2015-12-10 13:26] Guite commented on #683
Blocked by #416

[2015-12-10 14:10] craigh commented on #683
![screen shot 2015-12-10 at 9 09 11 am](https://cloud.githubusercontent.com/assets/350048/11717308/b766fffc-9f1d-11e5-90ab-2e3cdd2ee808.png)

![250px-flag_of_germany svg](https://cloud.githubusercontent.com/assets/350048/11717321/d5c38f42-9f1d-11e5-90d0-7b915e866cc5.png)

tell me you didn't do that on purpose :stuck_out_tongue_winking_eye:

[2015-12-10 14:17] Guite commented on #683
LOL at least we now know how this flag was created :-)

[2015-12-10 14:20] craigh commented on #683
yes, it was a bug report! :laughing:

[2015-12-10 15:54] cmfcmf commented on #683
:de:

[2015-12-11 15:55] Guite opened #718 "Change country handling for 1.4+"
Currently asserts for country validation break because the country code is expected upper case.

This needs to be changed in the form plugin as well as in the output modifier accordingly.

[code]

cc @gfr

[2015-12-11 19:24] Portugao opened #719 "[1.4.x] Class 'Zikula\Core\AbstractExtensionInstaller' not found if i try to install"
I do not know if this is an issue of MOST!?

[code]

[2015-12-11 19:50] craigh commented on #719
most implemented the feature before it is even available in the core! you have to wait until this branch is pulled into the core:

https://github.com/zikula/core/tree/BlockApi

[2015-12-11 19:55] Portugao commented on #719
Thx Craig for your reply.

[2015-12-12 08:32] Guite commented on #719
Yes I was a bit overzealous, since I did not notice that this change went into the BlockApi branch instead of the 1.4 branch.
You have three options:

1. Wait until the branch has been merge, like Craig suggested.
2. Revert a420cee54c8273ac5250517a0c37c066f7330bfb on your generated installer base class.
3. Use the BlockApi branch for your development site.

[2015-12-12 08:32] #719 closed

[2015-12-12 08:37] Guite commented on #718
Fixed in 4fc657b3217f867dc47c89b4d04902506c815c61

[2015-12-12 08:37] #718 closed

[2015-12-13 16:59] Portugao opened #720 "[1.4.x] Typo in Controller/Base/AjaxController.php"
Missing apothrophe in line 79
[code]

[2015-12-14 09:21] Guite commented on #720
Fixed in 25cf7d220275e287cd207a995958a8902775f579

[2015-12-14 09:21] #720 closed

[2015-12-16 20:52] Portugao commented on #720
:+1:

[2015-12-17 09:25] Guite commented on #717
Implemented in 20fbc42b407ce06c36c0c5042e976647f7a19416
The moderation block is completely migrated to Twig, too.
The item list block is not using Twig and Sf Forms yet, I'll do this later.

One detail is still missing: accessing the block title as part of the permission checks.

[2015-12-17 09:25] #717 closed

[2015-12-17 09:50] Guite commented on #716
Added in 63febb6bb14c7e20e4ec05979a280abe13d4d58a

[2015-12-17 09:50] #716 closed

[2015-12-17 09:51] rallek commented on #716
Thank you! will test it soon.

[2015-12-21 13:39] Guite commented on #640
This feature has now been implemented:

a004be529aa6a99171df928cd96cfc8a6ff7b124
https://github.com/Guite/MostHelp/commit/6852f475f238c11256ff849a91750a7c22560cd0
https://github.com/Guite/MostLocales/commit/696d751a544b0278227db68d76829d851300868f

[2015-12-21 13:39] #640 closed

[2015-12-22 10:48] rallek commented on #716
What is the right traget I have to choose? ``zk136`` or ``zkpre14``? I want to generate a 1.3.x module wich runs under 1.4.1 or later.

[2015-12-22 10:57] Guite commented on #716
`zk136`

[2015-12-26 20:54] rallek commented on #716
tried ``ZK136`` without success :-(. In version it is still labled ``core_max 1.3.99``. Changing to ``1.4.99`` is not bringing success. It ends up with an error:
[code]
I used the webgen from today. Did I something wrong?

[2015-12-27 09:14] Guite commented on #716
This error is unrelated to the introduced paginator switch. Instead it has something to do with the translatable extension. Please create a new issue about it.

[2015-12-27 11:32] rallek opened #721 "translatable field causes error"
[code]
I used the webgen from 26.12.2015 within zk1.4.1.
The model is generated zk136

[2015-12-27 11:32] rallek commented on #716
#721

[2015-12-27 12:45] cmfcmf commented on #721
Looks like a permission issue?

[2015-12-27 12:59] rallek commented on #721
it should install like any other module I guess. There should not be any permission issue.

[2015-12-28 13:17] Guite commented on #571
This feature has now been implemented:
1d476dc9fd35c38f75a4d23406f0d4a080e99a59
https://github.com/Guite/MostHelp/commit/6e6c977be1a2f3091fa652ec6ce22a25a70d5d41
https://github.com/Guite/MostLocales/commit/62d04c41dc51057eb72c3735b739f886208d9246

[2015-12-28 13:17] #571 closed

[2015-12-28 13:18] Guite commented on #684
Closing this one, because editing is completely changed for 1.4 apps in #416 anyway.

[2015-12-28 13:18] #684 closed

[2015-12-28 13:18] Guite commented on #683
Closing this one, because editing is completely changed for 1.4 apps in #416 anyway.

[2015-12-28 13:18] #683 closed

[2015-12-28 13:24] rallek commented on #123
the solution of https://github.com/cmfcmf/MediaModule could be reference :-)

[2015-12-28 14:03] Guite commented on #123
I have several resources for this in the pipeline. But this will be done after the migration to Symfony Forms has been completed.

[2015-12-30 09:03] Guite commented on #674
Done in https://github.com/Guite/MostGenerator/compare/1d476dc9fd35c38f75a4d23406f0d4a080e99a59...8f0b74830c4ebd3fec0f6fa488651684f960a327

[2015-12-30 09:03] #674 closed

[2015-12-30 09:37] Guite commented on #721
Fixed in b6f62fa5efc6a9d27f27ffa6ecfd5d401b2d158f

[2015-12-30 09:37] #721 closed

[2016-01-05 15:39] Guite opened #722 "Add multiline property to TextVar"
Text variables should have a `multiline` option for easier modeling of `textarea` fields, especially with Symfony forms.

[2016-01-05 16:04] Guite commented on #722
This feature has been implemented:
899bb5e061ca78dce22381dcacf80e66a31077e1
https://github.com/Guite/MostHelp/commit/598f23dc4a2528049bf839edd02ae3384aa01ac8
https://github.com/Guite/MostLocales/commit/1b8414974bd1c0b1489a3094d5bea53fec8a5b51

[2016-01-05 16:04] #722 closed

[2016-01-09 07:10] Guite commented on #355
Closed as invalid. It should work also if you delete the cache after you did the change.

[2016-01-09 07:10] #355 closed

[2016-01-12 17:52] Guite opened #723 "Use translator service everywhere"
Any old Gettext calls should be refactored to the `translator` service.
Done already in form type classes.

http://symfony.com/doc/current/book/translation.html
http://symfony.com/doc/current/components/translation/usage.html
https://github.com/zikula/core/blob/1.4/src/docs/Core-2.0/Translator.md
https://github.com/zikula/core/blob/1.4/src/docs/Core-2.0/Traits/TranslatorTrait.md

[2016-01-14 05:47] Guite commented on #241
https://github.com/Atlantic18/DoctrineExtensions/pull/1504

[2016-01-14 15:12] Guite commented on #177
The translatable extension has changed a bit which needs to be considered:
https://github.com/Atlantic18/DoctrineExtensions/blob/master/doc/translatable.md

[2016-01-15 19:16] #416 closed

[2016-01-16 10:24] Guite commented on #259
Added warning and quick fix:
https://github.com/Guite/MostHelp/commit/2d6fdc773efe313515b5220ef98c614dd77576c5
https://github.com/Guite/MostLocales/commit/7b9ed678e5fb13969eac6498f9d86c1c79000a2b

[2016-01-16 10:24] #259 closed

[2016-01-16 10:30] Guite opened #724 "Consider support of command pattern and DTO"

[2016-01-16 10:48] Guite commented on #152
The DSL already contains a `CalculatedField` which is not used yet though.

Thinking this further we could add support even for arbitrary expressions.
http://symfony.com/doc/current/components/expression_language/index.html

[2016-01-16 10:54] Guite commented on #347
@Portugao could you check if this problem is still present?

[2016-01-16 11:02] Guite commented on #264
This is now possible (for 1.4 targets) using the new `additionalValidator` option.
More details in #640.

[2016-01-16 11:02] #264 closed

[2016-01-16 11:03] Guite commented on #264
For the example above you would use a value like `GreaterThanOrEqual("+90 days")`.

[2016-01-16 12:02] Guite commented on #8
[code]
cc @craigh

[2016-01-16 14:28] Guite commented on #723
Done in b4a9681c24e6815b0d936ebbcaebcbb507762682 and and f1dc47584d07fde45f09c5a24ae2a6cb2b4f3a92

[2016-01-16 14:28] #723 closed

[2016-01-16 15:14] rallek commented on #479
This depends on how it is implemented. But at the end you ar right. If #263 is implemented, this one would be ready as well.

[2016-01-16 15:43] Guite opened #725 "Declare additional Twig blocks"
View templates should declare additional blocks to streamline their structure. Check visibility of variables.

[2016-01-17 08:00] Guite commented on #634
Will not be part of the generator, because this does not work with a template. If exporting a really large dataset is required this needs to be done as part of customising an app.

[2016-01-17 08:00] #634 closed

[2016-01-17 08:04] Guite commented on #618
Should be done after #260

[2016-01-17 09:37] Guite commented on #725
Implemented in https://github.com/Guite/MostGenerator/compare/5cf42f117a957e984931f32eeb893aa21925373f...cb58f6795af4344f215aa67ed3ba74f16cb5ae9a

[2016-01-17 09:37] #725 closed

[2016-01-17 10:00] Guite commented on #624
refs #545

[2016-01-17 10:02] Guite commented on #624
note to myself: refactor https://github.com/zikula/core/blob/1.4/src/lib/util/DataUtil.php#L201 to a Twig filter

[2016-02-10 12:44] craigh opened #726 "move license file to Resources/meta/LICENSE"
please move the generated license file to `Resources/meta/LICENSE` and remove the `.md` suffix.

[2016-02-10 14:07] Guite commented on #726
Fixed in 6c8b02f099e41e33b13d9deb72bdacdf121b5573

[2016-02-10 14:07] #726 closed

[2016-02-10 14:09] craigh commented on #726
:+1:

[2016-02-10 14:34] Guite commented on #260
After 1.3.x support has been removed documentation for two generator settings needs to be updated:

[code]

In 1.4 apps there is no version class anymore.

[2016-02-18 09:17] Guite opened #727 "Move item actions out of Entity classes"
Item actions should not be determined inside the entity.
Instead use either a dedicated helper class or the LinkContainer.

Users module does this:

* https://github.com/zikula/core/blob/1.4/src/system/UsersModule/Helper/AdministrationActionsHelper.php
* https://github.com/zikula/core/blob/1.4/src/system/UsersModule/Controller/UserAdministrationController.php#L86
* https://github.com/zikula/core/b

[2016-02-25 23:48] craigh opened #728 "noticed some small issues in MultiSites"
Several issues seen in phpStorm.

[2016-02-25 23:57] craigh commented on #728
![screen shot 2016-02-25 at 6 56 20 pm](https://cloud.githubusercontent.com/assets/350048/13338759/8d64bce2-dbf1-11e5-9106-b16379410bc7.png)

[2016-02-25 23:59] craigh commented on #728
![screen shot 2016-02-25 at 6 57 46 pm](https://cloud.githubusercontent.com/assets/350048/13338814/e8b5a3ea-dbf1-11e5-9331-54faf67cf7d9.png)

[2016-02-26 00:01] craigh commented on #728
![screen shot 2016-02-25 at 7 00 39 pm](https://cloud.githubusercontent.com/assets/350048/13338854/30394fb4-dbf2-11e5-8e9b-f5849160c7f3.png)

[2016-02-26 00:03] craigh commented on #728
![screen shot 2016-02-25 at 7 02 50 pm](https://cloud.githubusercontent.com/assets/350048/13338883/70a48cf8-dbf2-11e5-835d-0831b8299bf2.png)

[2016-02-26 00:05] craigh commented on #728
that issue also present in

\Zikula\MultisitesModule\Controller\Base\TemplateController
\Zikula\MultisitesModule\Controller\Base\SiteExtensionController
\Zikula\MultisitesModule\Controller\Base\SiteController

at the very bottom of each file

[2016-02-26 00:05] craigh commented on #728
![screen shot 2016-02-25 at 7 05 17 pm](https://cloud.githubusercontent.com/assets/350048/13338910/bcb5a122-dbf2-11e5-8844-0d66f9d74377.png)

[2016-02-26 00:06] craigh commented on #728
![screen shot 2016-02-25 at 7 06 19 pm](https://cloud.githubusercontent.com/assets/350048/13338921/df721bdc-dbf2-11e5-9060-71d006182e0c.png)

[2016-02-26 00:11] craigh commented on #728
![screen shot 2016-02-25 at 7 07 02 pm](https://cloud.githubusercontent.com/assets/350048/13338933/f98e5b48-dbf2-11e5-8d4b-628c9c43fe1e.png)

[2016-02-26 00:11] craigh commented on #728
![screen shot 2016-02-25 at 7 10 43 pm](https://cloud.githubusercontent.com/assets/350048/13339033/9da73a60-dbf3-11e5-91d1-7a71b43054cc.png)

[2016-02-26 00:14] craigh commented on #728
many times in docblock comments, you use a class string like so:

`* @param Doctrine\ORM\QueryBuilder $qb        Query builder to be enhanced.`

but PhpStorm highlights it as an error because it cannot find the class. you need to proceed the class with `\` in this cases:

`* @param \Doctrine\ORM\QueryBuilder $qb        Query builder to be enhanced.`

or import the class at the top and use the alia

[2016-02-26 00:17] craigh commented on #728
I guess I am done doing this for now. I only got about one-third of the way of simply scanning the files.

you can do the same and continue - All you need to do is open the files in PhpStorm and it will show you all the errors.

[2016-02-26 07:06] Guite commented on #728
Great, thank you! Will care for these asap.

[2016-02-26 17:49] Guite commented on #728
Fixed in https://github.com/Guite/MostGenerator/commit/7a951d7813483916f534c04b5bfd1011c28d6ccf and https://github.com/zikula-modules/Multisites/commit/f8d7f62269919460b428c5cc76e8b6959a97dae5

[2016-02-26 17:49] #728 closed

[2016-04-04 04:52] Guite opened #729 "Refactor notification API to service"

[2016-04-06 08:35] Guite opened #730 "Refactor service usage in repository classes"
A repository should not be accessing the container.
Repo methods should accept required parameters as arguments instead.

[2016-04-06 08:39] Guite opened #731 "Item actions should use routes"
Instead of action url arrays routes should be used instead.

[2016-04-06 08:42] Guite opened #732 "Inject services into Twig extension"
Avoid using `ServiceUtil`, for example for retrieving the workflow helper and the translator.

[2016-04-06 08:43] Guite opened #733 "Set custom headers in response"
Get rid of templateHeaders extension, amend the response instead.

[2016-04-08 12:41] Guite commented on #729
Implemented in e28a0efe45965bc55865944b9c2386ab6d52d4bb

[2016-04-08 12:41] #729 closed

[2016-04-08 13:31] Guite commented on #732
Implemented in 80ca62b497b1fd9ddf07d0b38940542fc26c6c89

[2016-04-08 13:31] #732 closed

[2016-04-24 06:01] Guite opened #734 "Use dedicated config controller"
Disallow entity name `config`.
Generate configuration handling into dedicated config controller.
Preparation for #715

[2016-04-24 17:21] craigh commented on #727
I've been working on a different implementation of this and would now discourage moving action items into a twig extension.

I have one implementation now which uses a `Helper` class to create the "actions" content. This helper class is then injected into the template and used like:

    {{ myActionsHelper.show(item) }}

this is fine so far, but I may go even further with this idea. Since the Acti

[2016-04-25 05:43] Guite commented on #727
Note: `system/UsersModule/Helper/AdministrationActionsHelper.php`

[2016-04-27 21:29] Portugao opened #735 "[1.4.x] Missing files"
It seems, the generator does not generate completely.
So i miss the MUImageModuleVersion.php in base folder and all the files of the base folder in the root of the module.

I tried online and offline.

Maybe I'm wrong. Don't know...

[2016-04-28 04:17] Guite commented on #735
The version class does not exist in 1.4/2.0 modules anymore. The module meta information now lives in `composer.json`.
In the base folder there are five files: `MUImageEvents.php`, `MUImageModuleInstaller.php`, `MUMUImageModule.php`, `UploadHandler.php`, `bootstrap.php`.
No concrete subclasses (non-base files) are generated though which is caused by the `generateOnlyBaseClasses true` setting in yo

[2016-04-28 04:17] #735 closed

[2016-04-28 07:19] Portugao opened #736 "[1.4.x] extensions module not available"
I put the files of MUImage into the folder modules/mu/muimage-module.
Then i get these error messages:

[code]

[2016-04-28 07:34] Guite commented on #736
The newest generator requires the latest development version of Zikula 1.4.3. Please try again with this build: http://ci.zikula.org/job/Zikula_Core-1.4.3/ and report back your experience.

[2016-04-28 07:43] Portugao commented on #736
I try.

[2016-04-28 13:06] Portugao commented on #736
Hmmm....i get the same messages.

[2016-04-28 13:56] Guite commented on #736
Since none of these messages relate to your module I doubt that this is caused by the generated module, but rather by some issue with regards to your server configuration...

[2016-04-28 13:56] Guite commented on #736
@craigh seen this before?

[2016-04-28 13:57] craigh commented on #736
no.

agree.

[2016-04-28 14:09] Portugao commented on #736
Ok.

[2016-04-28 15:47] Portugao commented on #736
Hmm...very new problems. I have a screenshot of the my server settings.

![fireshot screen capture 001 - - zik14x_webdesign-in-bremen_com_settings_phpinfo](https://cloud.githubusercontent.com/assets/493707/14891972/2dfb2490-0d69-11e6-9337-d2b7554e6615.jpg)

[2016-04-28 15:49] Portugao commented on #736
I hope it helps. With 1.4.2 no problems like above.

[2016-04-29 07:09] Guite commented on #736
Please try renaming the module folder to `modules/MU/MUImageModule/`.
If this does not help, please try changing `env: dev` and `debug: true` in `src/app/config/parameters.yml` and delete `src/app/cache/` subfolders.

[2016-04-29 08:34] Portugao commented on #736
I tried....and no effect. Also i found that there is another error message, that says class not found...
![klasse nicht gefunden](https://cloud.githubusercontent.com/assets/493707/14911486/fa60ca8a-0df5-11e6-979e-2e5459073e78.jpg)

[2016-04-29 09:35] Guite commented on #736
This class is not generated because of `generateOnlyBaseClasses true` in your model.

[2016-04-29 09:40] Portugao commented on #736
Damned.....I'm so confused...

[2016-04-29 09:51] Portugao commented on #736
Ok. Issue is gone so i close this.
Get another message -> new issue.

[2016-04-29 09:51] #736 closed

[2016-04-29 09:55] Portugao opened #737 "[1.4.x] method not found"
![undefinierte methode](https://cloud.githubusercontent.com/assets/493707/14913145/23419686-0e01-11e6-93be-63f9b2e897dd.jpg)
I get this if i try to install.

[2016-04-29 10:04] Portugao commented on #737
Seems not to be an issue of MOST.
Same with other modules...

[2016-04-29 10:17] Guite commented on #737
Going to fix that.

[2016-04-29 10:25] Portugao commented on #737
I deleted the module and tried to install the legale module. I get the same error message. Also with the profile module.

[2016-04-29 10:26] Guite commented on #737
As said above: I am going to fix that.

[2016-04-29 10:26] Portugao commented on #737
143.build 29

[2016-04-29 10:27] Portugao commented on #737
Ok.

[2016-04-29 11:00] Guite commented on #737
Fixed by this change: https://github.com/zikula/core/pull/2874/files

[2016-04-29 11:00] #737 closed

[2016-04-30 12:48] Portugao opened #738 "[1.4.x] Trying to install failed"
1.4.3 build 31
I get this error message now:

[code]
I tried different names of folders...

[2016-05-01 06:31] Guite commented on #738
This is weird, because it should be named `mu_muimage_module.controller_helper` (including underscores). Can you search through the files checking where `mumuimagemodule.controller_helper` occurs?

[2016-05-01 09:37] Portugao commented on #738
Very weird. I looked through the files and do not have any idea where to find it.

[2016-05-01 09:54] Portugao commented on #738
The error comes from the install method, where i find:

[code]

[2016-05-02 06:25] Guite commented on #738
You are using an obsolete version. You probably regenerated from MOST and not using the webgen, right? Please enable the staging updates in the MOST preferences. Afterwards restart ModuleStudio. It should then automatically install the latest updates. The restart will fail with a popup message showing an error, because also the included Java has been updated. Then start ModuleStudio again and rege

[2016-05-02 08:52] Guite opened #739 "Consider hook area constants"
It could make sense to introduce constants for hook area names, similar to how @craigh did it in the Users module here: https://github.com/zikula/core/compare/75f84da830...92df02618a

Should be reviewed after #260 has been done.

[2016-05-02 10:20] Portugao commented on #738
Strange. Updated MOST offline. Regenerated the module.
[code]
Tried with webgen the same...

[2016-05-02 10:26] Guite commented on #738
Okay, I will fix this.

[2016-05-02 11:02] Portugao commented on #738
Thx a lot. Wish to get a look into Zikula 1.4.x. :smile:

[2016-05-02 16:32] Guite commented on #738
Fixed in https://github.com/Guite/MostGenerator/compare/f0a6d54d62afa0ed366cd34938ee4bf366a2ea17...04ebf502adc25e930ea9b4e970f319cb4f526e17
The webgen will be updated in about 20 minutes. About 10 minutes later the update should also arrive at ModuleStudio.

[2016-05-02 16:32] #738 closed

[2016-05-02 16:32] Guite commented on #738
If you experience further errors please create new issues for them. Thanks.

[2016-05-02 19:12] Portugao opened #740 "[1.4.x] Module get not installed with these errors"
[code]
The tables are there and the upload folder has permission 777.

[2016-05-03 07:18] Guite commented on #740
Please tell me the path of the upload folders.

[2016-05-03 07:25] Portugao commented on #740
Sorry. I was unprecise. I spoke of the folder userdata. The upload directory was created:
[code]
Should i try to put the module into mu/muimage-modules? I have it in MU/MUImageModule now.

[2016-05-04 12:19] Guite commented on #740
Fixed in c036329c874145e20f23ade32b40e5f57f7f4901
Please recheck in about 30 minutes after all build jobs completed.

[2016-06-20 14:05] Guite opened #741 "Update Users-related event handlers"
After https://github.com/zikula/core/pull/2851 has been merged some event handlers must be updated to reflect newest changes.

https://github.com/zikula/core/blob/users/src/system/UsersModule/AccessEvents.php
https://github.com/zikula/core/blob/users/src/system/UsersModule/RegistrationEvents.php
https://github.com/zikula/core/blob/users/src/system/UsersModule/UserEvents.php
https://github.com/ziku

[2016-07-04 08:20] Guite commented on #361
This is probably going to be done for 1.4/2.0 only using the new interfaces contributed by @craigh

[2016-07-04 08:21] Guite commented on #229
http://symfony.com/blog/new-in-symfony-3-2-dateinterval-form-type

[2016-07-04 13:50] craigh commented on #229
PC has some "repeating" event functionality which sounds similar. Storage would be wise to copy iCal

[2016-07-10 20:31] Portugao commented on #740
This message is gone; get another -> open new issue.

[2016-07-10 20:31] #740 closed

[2016-07-10 20:37] Portugao opened #742 "Installation failed"
I get this message:
[code]

[2016-07-12 19:40] philippniethammer opened #743 "SQL error in ItemList block"
Activating the generated ItemList block leads to an SQL  exception on display.

[code]

- Zikula 1.3.10
- MOST CI 0.7.0alpha (Build #1913)
- PHP 5.5.9-1ubuntu4.17
- MySQL 5.6.30-0ubuntu0.14.04.1-log
- Module model: [ZelaBilder.zip](https://github.com/Guite/MostGenerator/files/360132/ZelaBilder.zip)

[2016-07-12 20:47] philippniethammer commented on #743
Fix: Block content variable $properties is reused. Paginator got a page size of "null".

See patch for MostGenerator/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/controller/apis/BlockList.xtend:
[BlockList.xtend.diff.zip](https://github.com/Guite/MostGenerator/files/360243/BlockList.xtend.diff.zip)

[2016-07-13 05:47] Guite commented on #743
Thanks, fixed in 0c613fff5c4276cd37d864e383770166cbb5adaa

[2016-07-13 05:47] #743 closed

[2016-07-13 13:10] craigh opened #744 "use new permission api"
replace `SecurityUtil::checkPermission()` with `$permissionApi->hasPermission()` (you must inject `$permissionApi`)

[2016-07-13 13:17] Guite commented on #744
Done already in generator, it was only left in a custom implementation of the Routes module which is fixed in https://github.com/zikula/core/commit/f04b19991ba945e6ab16ea8a0a3b883b1a259fb1

[2016-07-13 13:17] #744 closed

[2016-07-18 06:34] Guite commented on #742
Could it be that this foreign key already existed in your database from an earlier installation attempt?

[2016-07-18 07:07] Portugao commented on #742
I deleted all tables, same error. Maybe I have an error in my model....

[2016-07-18 07:08] Guite commented on #742
Deleting the tables does not necessarily delete all foreign constraints, too. Can you retest using a fresh database maybe?

[2016-07-18 07:19] Portugao commented on #742
I will try.

[2016-07-20 08:34] Guite commented on #741
Done in 2be9868fb01779973968b6a84ee7110aacb53535 and https://github.com/zikula/core/pull/2940

[2016-07-20 08:34] #741 closed

[2016-07-22 15:06] Portugao commented on #742
Me again. I just tried an install with a fresh zikula installation.
Sorry. I get the same error.

[2016-07-22 15:18] Guite commented on #742
And you used a fresh new database?

[2016-07-22 15:23] Portugao commented on #742
Yes. Deleted all tables.

[2016-07-22 15:33] Guite commented on #742
As I wrote above:

[2016-07-22 15:38] Portugao commented on #742
Sure.

[2016-07-22 15:54] Guite commented on #742
Confirmed. There is indeed a problem.

[2016-07-22 16:10] Guite commented on #742
The reason for this error is that `id` and `parent_id` have different data types.

* `id` is `INT(11)`
* `parentId` is `BIGINT(20)`

After I manually changed `parentId` to `INT(11)` I could add the foreign key without problems.
If you set the `parentId` field's length to `10` everything should work.

See https://github.com/Guite/MostGenerator/blob/master/org.zikula.modulestudio.generator/src/org/z

[2016-07-22 16:23] Guite commented on #742
Added a note in https://github.com/Guite/MostHelp/commit/c1f1e077d71e2dffe1f2e74eab9135f4119501d4 which is now shown at http://modulestudio.de/documentation/c/55-GeneratorReference#GenRefAbstractIntegerField

[2016-07-22 16:33] Portugao commented on #742
:+1:
Thx a lot.

[2016-07-22 16:42] Portugao commented on #742
MOST does not accept a length of 10, I get an error message. So I have to do manually.

[2016-07-22 16:46] Guite commented on #742
Please post the validation error message. Probably something needs to be adjusted here.

[2016-07-22 16:55] Portugao commented on #742
[code]

[2016-07-22 16:58] Portugao commented on #742
I have to say that the parent_id field is an integer field.

[2016-07-22 16:58] Guite commented on #742
Okay, I think the better fix is the use `integer` instead of `bigint` for a length of 11. Going to change that.

[2016-07-22 17:00] Guite commented on #742
Fixed in https://github.com/Guite/MostGenerator/commit/3c938bfc21191f8f5a833a0718581ad3d653973b and https://github.com/Guite/MostHelp/commit/eb6d888c2e4b9ff1131c4a09bbaafa7b01909bff

[2016-07-22 17:00] #742 closed

[2016-07-22 17:32] Guite commented on #742
Webgen is updated, you can now regenerate which should include this change.

[2016-07-22 17:34] Portugao commented on #742
:+1:

[2016-07-22 20:09] Portugao commented on #742
Hmmhmm...
I'm confused. In version 1.3.0 of MUImage I find:

[code]
Is it integer or bigint?

[2016-07-23 05:03] Guite commented on #742
Fixed in latest webgen:
[code]

[2016-07-23 12:41] Portugao opened #745 "[1.4.x] Trying to install gives new error"
[code]

[2016-07-23 12:42] Portugao commented on #742
Thx. This issue is gone; and there is another....
#745

[2016-07-23 12:57] Portugao commented on #745
The tables get installed.

[2016-07-23 14:01] Portugao commented on #745
Have to check again...

[2016-07-23 14:03] Guite commented on #745
[code]
Please change the default value to something reasonable, like an empty string or `0`.

[2016-07-23 14:03] #745 closed

[2016-07-23 15:02] Portugao opened #746 "[1.4.x] Class not found trying to install"
[code]

[2016-07-23 15:07] Portugao commented on #745
With a list var this solution does not work; equal I enter ('', ""), the code looks like
[code]
and this gives an error.

[2016-07-23 15:08] Portugao commented on #746
This part is relevant:
[code]

[2016-07-24 08:43] Guite commented on #746
You need Zikula version 1.4.3-git.

[2016-07-24 08:43] #746 closed

[2016-07-24 08:45] Guite commented on #745
Just enter nothing as default value. The generator cares for quotes automatically.
Also you can mark list items as `default`.

[2016-07-24 10:02] Portugao commented on #746
Ok. Sorry.

[2016-07-24 10:04] Portugao commented on #745
I will see; Thx.

[2016-07-24 11:47] Portugao opened #747 "[1.4.x] Calling module gives twig error"
After successful install, calling the module leads into twig error.

[code]

[2016-07-24 12:31] Guite commented on #747
Fixed in d3eda3f8987f2769ce84c5873e48b71c4f754d41

[2016-07-24 12:31] #747 closed

[2016-07-24 13:16] Portugao opened #748 "[1.4.x] Calling module gives another twig error"
[code]

[2016-07-24 13:17] Portugao commented on #748
There is a 'is' missing.

[2016-07-24 13:22] Portugao opened #749 "[1.4.x] After fix issue 748 calling module gives another error"
[code]

[2016-07-24 13:38] Guite commented on #748
Fixed in 766e2e98808f1c0ff1f0db3af8cc7d28df6ac99a

[2016-07-24 13:38] #748 closed

[2016-07-24 13:38] Guite commented on #749
Fixed in 766e2e98808f1c0ff1f0db3af8cc7d28df6ac99a

[2016-07-24 13:38] #749 closed

[2016-07-24 13:46] Portugao opened #750 "[1.4.x] Calling module gives another twig error"
[code]

[2016-07-24 13:57] Guite commented on #750
Fixed in 626b96df8e00dc918d80019d27f93f41b4ffb360 and 47c6b2c98a57c2cd1f37411ab527b224d29f413b

[2016-07-24 13:57] #750 closed

[2016-07-24 14:18] Portugao opened #751 "[1.4.x] Calling module gives another error"
[code]

[2016-07-24 14:21] Portugao opened #752 "[1.4.x] Trying to create an album gives 2 error messages"
[code]

[2016-07-24 14:23] Portugao commented on #751
This a the correct error message; sorry.

[2016-07-24 15:02] Guite commented on #751
Fixed in 14c6a21c66c791e7312a6d927051a4a4ad6365f1

[2016-07-24 15:02] #751 closed

[2016-07-24 16:23] Portugao opened #753 "[1.4.x] Trying to create a picture gives error message"
[code]

[2016-07-24 17:35] Guite commented on #753
Fixed in eae3838be59bfdf57d592e085e4bc3607ecccb5d

[2016-07-24 17:35] #753 closed

[2016-07-24 17:35] Guite commented on #752
The first one is fixed in eae3838be59bfdf57d592e085e4bc3607ecccb5d

If the second one does still appear, please reopen this issue.

[2016-07-24 17:35] #752 closed

[2016-07-25 06:22] Portugao opened #754 "[1.4.x] Trying to call the config"
[code]

[2016-07-25 06:23] Guite commented on #754
Can you please switch to the `dev` environment and post the stack trace?

[2016-07-25 06:36] Portugao commented on #754
[code]

[2016-07-25 06:39] Guite commented on #754
Well. that's another error message, but

is caused by the invalid value specified in your model:

[code]
You should instead use a numeric default value, like `value "0"`.

[2016-07-25 07:02] Portugao commented on #754
Sorry, it seems to be too early. Tried to call the config of the module; title updated.
And I did; I tried the value 102400 and "102400".

[2016-07-25 07:05] Portugao commented on #754
And it's strange, because there are other int module vars.
Maybe I do something wrong....

[2016-07-25 07:32] Portugao commented on #754
Have to check....

[2016-07-25 07:40] Guite commented on #754
Maybe you need to clear `app/cache/`?

[2016-07-25 07:49] Portugao commented on #754
:+1:
Yes, that helps.
This issue is gone. I close.

[2016-07-25 07:49] #754 closed

[2016-07-25 08:44] Portugao opened #755 "[1.4.x] Trying to create an album or picture gives another error message"
[code]
[1] Symfony\Component\Form\Exception\UnexpectedTypeException: Expected argument of type "Doctrine\ORM\QueryBuilder", "array" given
    at n/a
        in /domain/vendor/symfony/symfony/src/Symfony/Bridge/Doctrine/Form/Type/EntityType.php line 35

    at Symfony\Bridge\Doctrine\Form\Type\EntityType->Symfony\Bridge\Doctrine\Form\Type\{closure}(object(OptionsResolver), object(Closure))

[2016-07-25 09:45] Portugao opened #756 "[1.4.x] Calling the block module gives error"
[code]
[code]

[2016-07-25 09:46] Portugao opened #757 "[1.4.x] Calling the permissions module gives error"
[code]

[2016-07-25 09:47] Guite commented on #757
Duplicate of #756

[2016-07-25 09:47] #757 closed

[2016-07-25 09:50] Portugao commented on #757
Oh; sorry.

[2016-07-25 10:22] Guite commented on #755
Fixed in 0588a36088beed7407ca5f4f8a9653a9c608c982

[2016-07-25 10:22] #755 closed

[2016-07-25 11:32] Guite commented on #756
@craigh Looks like a core problem?

[2016-07-25 11:33] cmfcmf commented on #756
No, this is a MOST issue: "must be an instance of MU\MUImageModule\Block\Base\AbstractBundle". Looks like the import for AbstractBundle is missing.

[2016-07-25 12:03] Guite commented on #756
Ah yes, thanks for the pointer!

[2016-07-25 12:09] Guite commented on #756
Fixed in 204e5be1ab4ff603ccd1c987b9de71d0674e16ee

[2016-07-25 12:09] #756 closed

[2016-07-25 13:45] Portugao opened #758 "[1.4.x] Trying to create an album leads into an error message"
[code]

[2016-07-25 13:46] Portugao opened #759 "[1.4.x] Trying to create a picture leads into an error message"
[code]

[2016-07-25 16:22] Guite commented on #759
Can you provide a stack trace?

[2016-07-25 16:22] Guite commented on #758
Can you provide a stack trace?

[2016-07-25 16:23] Guite commented on #758
I see: the problem is that accessor methods are named `getParent_id() / setParent_id()`.

[2016-07-25 16:25] Guite commented on #758
Could you maybe try renaming the `parent_id` field to `parentId` in the model? This should work better. (Maybe we should forbid underscore as part of field names...)

[2016-07-25 16:25] Guite commented on #758
Note: you can use the `dbName` feature to keep the database field name `parent_id` so you won't need to change the db structure.

[2016-07-25 16:35] Portugao commented on #758
[code]

[2016-07-25 16:35] Portugao commented on #758
Where I can find the dbname feature?

[2016-07-25 16:39] Portugao commented on #759
[code]

[2016-07-25 17:31] Guite commented on #758
Advanced settings are hidden by default. Thus you need to enable expert settings in the properties view. There is an icon for that.

[2016-07-25 18:37] Portugao commented on #758
Ok. This issue is gone and there is the next one. Seems good to forbid underscores.

[2016-07-25 18:40] Portugao opened #760 "[1.4.x] Trying to create an album leads into an error message"
[code]
[code]

[2016-07-25 18:55] Portugao commented on #760
There is a 'if' missing.

[2016-07-25 18:56] Portugao opened #761 "[1.4.x] If #760 is fixed a new error message appears"
[code]

[2016-07-26 06:45] Guite commented on #760
Fixed in 44dc0299c07a8882b12a06263fe278559619bc0a

[2016-07-26 06:45] #760 closed

[2016-07-26 07:05] Portugao commented on #760
:+1:

[2016-07-26 07:06] Portugao commented on #758
This you can close, I think.

[2016-07-26 14:07] Guite commented on #758
Not yet, I want to investigate the validation and maybe add another constraint about the underscores.
Please send me a mail and attach your current model. Thanks in advance.

[2016-08-02 15:16] robbrandt opened #762 "unexpected comma in composer.json"
This bug prevents modules from showing up in the Extensions page.

"," unexpected

It precedes the "hook subscriber" in

 "capabilities": {
                "user": {"route": "botanyorgconferencemodule_user_index"},
                "admin": {"route": "botanyorgconferencemodule_admin_index"},
                "searchable": {"class": "Botanyorg\\ConferenceModule\\Helper\\SearchHelper"},

[2016-08-02 16:01] robbrandt opened #763 "FatalErrorException in EditHandler.php line 243: Parse Error: syntax error, unexpected '$logger' (T_VARIABLE)"
Path is /Form/Handler/Event/Base/EditHandler.php

$flashBag->add(\Zikula_Session::MESSAGE_ERROR, $this->__('Sorry, but someone else has already changed this record. Please apply the changes again!'));
            $logArgs = ['app' => 'BotanyorgConferenceModule', 'user' => $this->container->get('zikula_users_module.current_user')->get('uname'), 'entity' => 'event', 'id' => $entity->createCompositeI

[2016-08-03 13:41] robbrandt commented on #692
@guite: in 0.7.0, is there a more complete fix implemented than the workaround in https://github.com/Guite/MostGenerator/commit/f4f1cd00ee535ea96c864b8994377bd4fe0f3938?  There were other characters than & involved, and I need to know if I will have to maintain strings here.

[2016-08-03 14:47] Guite commented on #692
No there isn't a better solution implemented yet. If you come up with something please propose it :-)

[2016-08-03 16:02] robbrandt commented on #763
Just noticed the error; there's a missing semicolon closing the line above the $logger line.  Should be:

$logArgs = ['app' => 'BotanyorgConferenceModule', 'user' => $this->container->get('zikula_users_module.current_user')->get('uname'), 'entity' => 'event', 'id' => $entity->createCompositeIdentifier()];

Once I fixed it manually, it occurred in 3 other Forms as well.

[2016-08-03 16:08] robbrandt opened #764 "Compile Error: Cannot use Botanyorg\ConferenceModule\Helper\WorkflowHelper as WorkflowHelper because the name is already in use"
FatalErrorException in NotificationHelper.php line 32: Compile Error: Cannot use Botanyorg\ConferenceModule\Helper\WorkflowHelper as WorkflowHelper because the name is already in use

    in NotificationHelper.php line 32
    at DebugClassLoader->loadClass() in DebugClassLoader.php line 21
    at spl_autoload_call() in DebugClassLoader.php line 21
    in DebugClassLoader.php line 169
    at DebugC

[2016-08-04 20:03] Portugao opened #765 "Get an error if I try to save the model"
[code]
I imported the model, after setting a field to translatable, i get the error when trying to save.

[2016-08-05 05:07] Guite commented on #692
Maybe the whole method is not required anymore in 1.4.3+ modules, because Twig is now used which should do output sanitising automatically. We need to recheck this.

[2016-08-08 14:33] Portugao commented on #765
What about this? Did I something wrong?

[2016-08-08 14:48] Guite commented on #765
I've no idea yet. Please send me a mail with the imported model attached.

[2016-08-08 16:01] Guite commented on #762
Fixed in 1faf7a1e381c824193b79ce5232cabe99a1ec704

[2016-08-08 16:01] #762 closed

[2016-08-08 16:03] Guite commented on #763
Fixed in 33ec21d82085c617b3a54ec30fd6212ffc6243e8

[2016-08-08 16:03] #763 closed

[2016-08-08 16:06] Guite commented on #764
Fixed in 821846c2e2f2b8cf0c0872352e050aedf9ed3c37

[2016-08-08 16:06] #764 closed

[2016-08-10 04:55] Guite opened #766 "Make generated .htaccess files compatible with Apache 2.2 and 2.4"
See also https://github.com/zikula/core/issues/2938#issuecomment-238748288

[2016-08-10 23:33] robbrandt commented on #764
@Guite I am still getting this error. No change from last time.  The missing semicolons from the  EditHandler.php bug are still there too.  I must be doing something wrong to test this.

I went to webgen and generate new, using the _**same**_ .mostapp I used previously.  No new upload.
I downloaded and uncompressed the new Conference.mostapp.zip
I deleted the previous module files from my test sit

[2016-08-10 23:39] robbrandt opened #767 "InvalidServiceDefinitionsException in ValidateServiceDefinitionsPass.php line 44:"
Service definition validation errors (1):
- botanyorg_conference_module.notification_helper: Type-hint "Zikula\UsersModule\Api\CurrentUserApi" requires this argument to be a reference to a service or an inline service definition

    in ValidateServiceDefinitionsPass.php line 44
    at ValidateServiceDefinitionsPass->process(object(Zikula_ServiceManager)) in Compiler.php line 104
    at Compiler->

[2016-08-10 23:40] robbrandt commented on #764
I found how to manually edit out this bug in your commit
https://github.com/Guite/MostGenerator/commit/821846c2e2f2b8cf0c0872352e050aedf9ed3c37

[2016-08-11 04:47] Guite commented on #764
In webgen the square at the top right is currently red (not green). If you click on it's text it shows you which git revision the webgen is currently using. As I am changing the build infrastructure generator deployment is not working again yet. This is why latest updates are not included in the webgen yet.

[2016-08-11 18:20] Guite commented on #767
Fixed in 6e21172f9618bc845ffa87343de571618cd09147

[2016-08-11 18:20] #767 closed

[2016-08-11 19:29] Guite commented on #764
@robbrandt webgen is up again :smile:

[2016-08-12 17:01] robbrandt opened #768 "InvalidServiceDefinitionsException in ValidateServiceDefinitionsPass.php line 44: (number two)"
Service definition validation errors (1):
- botanyorg_conference_module.notification_helper: Type-hint "Twig_Environment" requires this argument to be a reference to a service or an inline service definition

    in ValidateServiceDefinitionsPass.php line 44
    at ValidateServiceDefinitionsPass->process(object(Zikula_ServiceManager)) in Compiler.php line 104
    at Compiler->compile(object(Zikula

[2016-08-12 17:04] robbrandt commented on #768
One line below the last fix, is "@ŧwig".  In my source code it reads "@?wig"; the "t" has a double cross.  Is that right?  I tried changing it to a regular "t", and got a completely different error, but I'm not sure whether that's because it needs to be a "ŧ" or whether it just encountered the next error that needs to be fixed.

[2016-08-12 19:41] craigh commented on #768
@Guite you _may_ want the `templating` service and type hint as `\Symfony\Bundle\FrameworkBundle\Templating\EngineInterface` but I'm not sure of this use case specifically.

[2016-08-13 07:06] Guite commented on #768
Fixed in 583fccd2831c1f3f4110ec8c86e699d709bd01c9 (good watch @robbrandt ).
If you get a different error after this change please report it in a separate issue, thanks.

[2016-08-13 07:06] #768 closed

[2016-08-13 17:58] robbrandt opened #769 "ContextErrorException in MetaData.php line 203:"
Catchable Fatal Error: Argument 1 passed to Zikula\Bundle\CoreBundle\Bundle\MetaData::formatDependencies() must be of the type array, boolean given, called in /Users/robbrandt/Documents/htdocs/Conference/lib/Zikula/Bundle/CoreBundle/Bundle/MetaData.php on line 65 and defined

    in MetaData.php line 203
    at ErrorHandler->handleError('4096', 'Argument 1 passed to Zikula\Bundle\CoreBundle\Bundle

[2016-08-14 07:46] Guite commented on #769
Please paste the content of `composer.json` and `zikula.manifest.json`.

[2016-08-14 17:41] robbrandt commented on #769
composer.json:
{
    "name": "botanyorg/conference-module",
    "version": "1.0.0",
    "description": "BotanyorgConferenceModule module generated by ModuleStudio 0.7.0.",
    "type": "zikula-module",
    "license": "LGPL-3.0+",
    "authors": [
        {
            "name": "Rob Brandt",
            "email": "rbrandt@botany.org",
            "homepage": "http://botany.org",
            "role": "o

[2016-08-14 17:42] robbrandt commented on #769
zikula.manifest.json
{
    "vendor": {
        "title": "Botanyorg",
        "url": "http://botany.org",
        "logo": ""
    },
    "extension": {
        "name": "Conference",
        "url": "http://botany.org",
        "icon": ""
    },
    "version": {
        "semver": "1.0.0",
        "compatibility": ">=1.4.1 <2.0",
        "composerpath": "composer.json",
        "description": "Botanyor

[2016-08-15 05:36] Guite commented on #769
Did you see there is still the double comma present in the composer file?
[code]
By accident?

[2016-08-15 16:19] robbrandt commented on #769
Indeed!  I was sure I reapplied all the previous fixes after my last generate, but I guess I missed this one.

[2016-08-15 16:19] #769 closed

[2016-08-15 17:36] robbrandt opened #770 "You have requested a non-existent service "botanyorg_conference_module.eventitem_factory"."
`[1] Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: You have requested a non-existent service "botanyorg_conference_module.eventitem_factory".
    at n/a
        in /Users/robbrandt/Documents/htdocs/Conference/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/ContainerBuilder.php line 823

    at Symfony\Component\DependencyInjection\ContainerBuilder->getD

[2016-08-15 17:39] robbrandt commented on #770
Although this error seems familiar to me, I can't find an exact reference to it so I think it's new.  Very similar to the "stof" prefix one though.  I encounter this error when trying to uninstall the MOST module.  There was so many errors since attempting to start the install of this module I am unsure of it's integrity, so I decided to uninstall and run install again.  Because of this error I ca

[2016-08-16 12:08] Guite commented on #765
The problem is related to the three upload fields in your model:
[code]
should be:
[code]

[2016-08-16 12:10] #765 closed

[2016-08-16 13:29] Portugao opened #771 "[1.3.x] 'en' does not get saved in translation table"
The entity get saved. The field locale is empty if the entity is for english language.

I think it should contain 'en' for english, right?

[2016-08-16 13:33] Portugao commented on #765
Ok, thanks! :+1:

[2016-08-16 13:36] Portugao commented on #765
Works, it seems.

[2016-08-16 14:47] Guite commented on #771
Which language did you have activated when you created the entity?
I think the strings for this language are saved in the entity fields themselves. Please check that.

[2016-08-16 15:28] Portugao commented on #771
German.

At the moment all informations get saved in the translation table.

field **title** and **description**
The 2 english items have an empty field 'locale'.

The table for the entity has no field locale.
![ebene 1](https://cloud.githubusercontent.com/assets/493707/17704914/cc16709e-63d6-11e6-8f68-253efa246d6e.jpg)

[2016-08-16 17:21] robbrandt opened #772 "Unexpected token "name" of value "comment""
`                    <option value="unpublish" title="{{ __('Hide content temporarily.') }}">{{ __('Unpublish') }}</option>
                    <option value="publish" title="{{ __('Make content available again.') }}">{{ __('Publish') }}</option>
                    <option value="archive" title="{{ __('Move content into the archive.') }}">{{ __('Archive' comment='this is the verb, not the noun')

[2016-08-16 17:28] robbrandt commented on #772
I've removed the comments from the template in order to continue testing

[2016-08-16 18:02] robbrandt commented on #772
After regenerating this doesn't seem to be a problem.  I'll open it again if it resurfaces.

[2016-08-16 18:05] robbrandt opened #773 "Undefined method 'get'. The method name must start with either findBy or findOneBy!"
Stack trace shows this is in archiveObjects().  Here's the whole stack trace

`[1] BadMethodCallException: Undefined method 'get'. The method name must start with either findBy or findOneBy!
    at n/a
        in /Users/robbrandt/Documents/htdocs/Conference/vendor/doctrine/orm/lib/Doctrine/ORM/EntityRepository.php line 226

    at Doctrine\ORM\EntityRepository->__call('get', array('botanyorg_confe

[2016-08-17 05:59] Guite commented on #773
Fixed in 9be14c97d27a9ce1a99dca4b2e942ed5a9a54356

[2016-08-17 05:59] #773 closed

[2016-08-17 14:25] Guite commented on #692
Disabled the method for 1.4.x in 0d24a569222270b6b0f9f49e84b5dc370d3621f6

[2016-08-17 14:25] #692 closed

[2016-08-17 14:43] #758 closed

[2016-08-17 14:50] rallek commented on #771
would be great if the translation will work. I do also have a need for it.

[2016-08-17 14:53] rallek commented on #386
has this to do with #771?

[2016-08-17 15:54] Guite commented on #770
Fixed in f252d6e9d26718d7c9d80dcbdd8b6708dc32fd56

[2016-08-17 15:54] #770 closed

[2016-08-17 17:43] robbrandt commented on #772
It's doing it again now.  I was able to proceed by removing the
` comment='this is the verb, not the noun'`
attribute/value from the archive and trash options in:

`<select id="botanyorgConferenceModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                    <option value="accept" title="{{ __('Accept conte

[2016-08-17 17:47] robbrandt opened #774 "An exception has been thrown during the rendering of a template ("Notice: Undefined variable: modname") in BotanyorgConferenceModule::base.html.twig at line 56"
Lines 54 thru 58:

`{% block moderation_panel %}
    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        {% set moderationObjects = botanyorgconferencemodule_moderationObjects() %}
        {% if moderationObjects|length > 0 %}
            {% for modItem in moderationObjects %}`

The entire stack trace:
[1] Twig_Error_Runtime: An exception has been thrown during the rendering of

[2016-08-17 18:07] Guite commented on #772
Fixed in 06763f5c6cd6939ba1de65e5edfb63816bf21197

[2016-08-17 18:07] #772 closed

[2016-08-17 18:11] Guite commented on #774
Fixed in 838b6d4aee351e5d655e47cd0f981c6522231830

[2016-08-17 18:11] #774 closed

[2016-08-17 18:31] robbrandt commented on #774
Making progress!  I can can now get an admin menu at least... ;)

[2016-08-17 18:33] robbrandt opened #775 "Error: Call to a member function get() on a non-object"
`in modules/Botanyorg/ConferenceModule/Entity/Repository/Base/Society.php at line 696  -

        protected function applyDefaultFilters(QueryBuilder $qb, $parameters = [])
        {
            $currentModule = ModUtil::getName();
            $currentLegacyControllerType = $this->request->get('lct', 'user');
            if ($currentLegacyControllerType == 'admin' && $currentModule == 'BotanyorgCo

[2016-08-17 18:38] robbrandt opened #776 "Class Zikula\GroupsModule\Entity\GroupsEntity does not exist"
(this happens when I try to view the Configuration page in my MOST module)

`in vendor/doctrine/common/lib/Doctrine/Common/Persistence/AbstractManagerRegistry.php at line 197  -

                $class = $this->getAliasNamespace($namespaceAlias) . '\\' . $simpleClassName;
            }
            $proxyClass = new \ReflectionClass($class);
            if ($proxyClass->implementsInterface($this->p

[2016-08-17 20:23] craigh commented on #776
misspelling. should be `GroupEntity` not `GroupsEntity`

[2016-08-17 20:54] robbrandt commented on #776
Thanks.  That does seem to correct the problem.

[2016-08-18 04:46] Guite commented on #776
Fixed in 8f1dc746481127177cc38d408106a96f0c4a59e9

[2016-08-18 04:46] #776 closed

[2016-08-18 04:49] Guite commented on #775
Fixed in 3bc29ff37755073d9986730b79baf191a1ad36a5

[2016-08-18 04:49] #775 closed

[2016-08-18 06:20] Guite commented on #734
Implemented in b5896725037edce10b4035ca0598f54259ccd7da and https://github.com/Guite/MostHelp/commit/1cca9e5ddce98976453e90c51e5d1470fc57b69f

[2016-08-18 06:20] #734 closed

[2016-08-18 10:23] Guite commented on #733
Implemented in e73072a7f9fcc7b7650db9f92d2138d27f9390ea

[2016-08-18 10:23] #733 closed

[2016-08-18 11:13] Guite commented on #731
Implemented in 037b7602a13c6512cc77a51d7bdee122d10ae49d

[2016-08-18 11:13] #731 closed

[2016-08-18 16:53] Guite commented on #759
This problem is now fixed. There is more work to do relating upload fields, I'll create a separate ticket for that.

[2016-08-18 16:53] #759 closed

[2016-08-18 16:54] Guite opened #777 "Complete upload form type / overhaul upload handling"
Upload handling needs to be changed to meet the way Symfony does it.

[2016-08-18 16:55] robbrandt opened #778 "An exception has been thrown during the rendering of a template ("Notice: Trying to get property of non-object") in BotanyorgConferenceModule::base.html.twig at line 56"
Lines 54-58:

`{% block moderation_panel %}
    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        {% set moderationObjects = botanyorgconferencemodule_moderationObjects() %}
        {% if moderationObjects|length > 0 %}
            {% for modItem in moderationObjects %}`

Full stack trace:

[1] Twig_Error_Runtime: An exception has been thrown during the rendering of a templat

[2016-08-18 16:55] Guite commented on #777
See also #541

[2016-08-18 17:11] Guite commented on #778
Fixed in https://github.com/Guite/MostGenerator/compare/cac67bb74a8d9054dfa4763d9674c7321dc42c26...05a802ef2b22072819d794944ffb72f781dadc4c

[2016-08-18 17:11] #778 closed

[2016-08-18 17:25] robbrandt opened #779 "ContextErrorException in ThirdPartyListener.php line 22"
Runtime Notice: Declaration of Botanyorg\ConferenceModule\Listener\ThirdPartyListener::contentGetTypes() should be compatible with Botanyorg\ConferenceModule\Listener\Base\ThirdPartyListener::contentGetTypes(Botanyorg\ConferenceModule\Listener\Base\Zikula_Event $event)

    in ThirdPartyListener.php line 22
    at ErrorHandler->handleError('2048', 'Declaration of Botanyorg\ConferenceModule\Listene

[2016-08-18 18:31] robbrandt opened #780 "SQL error on installation"
In order to be sure I am not wasting time using an old revision of Zikula, I have started over from scratch with build 115.

On installing my module from scratch, I get this error:

An exception occurred while executing 'UPDATE botanyorg_confer_event SET = '2016-08-18 20:14:22'': SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that cor

[2016-08-18 19:04] Guite commented on #780
Seems this is related to the standard fields (`createdDate` or `updatedDate`)... are you able to provide a stack trace?

[2016-08-18 19:05] robbrandt commented on #780
No stack trace was provided.

[2016-08-18 19:09] Guite commented on #779
Please try changing all occurances of `Zikula_Event` to `\Zikula_Event` in both `modules/Botanyorg/ConferenceModule/Listener/ThirdPartyListener.php` and `modules/Botanyorg/ConferenceModule/Listener/Base/ThirdPartyListener.php`.

[2016-08-18 19:14] robbrandt commented on #779
OK.  Will test as soon as I can install the module again ;)

[2016-08-18 21:13] robbrandt commented on #780
Very odd.  I stepped through execution of the code in a debugger and determined that it happens at

$this->createDefaultData();

which makes sense.  But when I then stepped into that method to debug it, it worked fine.  Perhaps a timing issue of some sort?  Does Symfony use threading?

Well, at least I now have an installed module to work with.

[2016-08-18 21:43] robbrandt commented on #779
This puts us back to this error:
https://github.com/Guite/MostGenerator/issues/775

and it appears that it regressed, as your fix isn't in the code.  I added it back in, and also now get this one again:

https://github.com/Guite/MostGenerator/issues/778

I've looked at the diff - and see that it reverses 775 above - but I can't decipher where the new code is supposed to go.

[2016-08-19 15:19] Guite commented on #779
Instead of the old code there is now this: https://github.com/Guite/MostGenerator/commit/05a802ef2b22072819d794944ffb72f781dadc4c which causes the function to return before the other code parts are reached.

[2016-08-19 15:23] Guite commented on #779
Fixed in 99aab579e3f7c9e45352c33c3394d86519cb9153

[2016-08-19 15:23] #779 closed

[2016-08-20 09:58] Guite commented on #766
Fixed in ce246d73446c1b84b93dd494d143c0a0edd9d6bc

[2016-08-20 09:58] #766 closed

[2016-08-22 10:20] Guite commented on #761
Fixed in cacf8de0379bda50fe3e932a18b24c917aed53fe

[2016-08-22 10:20] #761 closed

[2016-08-22 11:45] Guite commented on #771
But does the entity table has `title` and `description` fields? If yes, do they contain the english strings?

[2016-08-22 12:23] Portugao commented on #771
Yes. It has title and description, but with german strings.

[2016-08-22 12:33] Portugao commented on #771
Maybe I have to set more than 'translatable' for the fields?!

[2016-08-22 18:03] robbrandt commented on #780
This didn't happen in build 155.  If it does happen again, how do I provide a stack trace?  custom_parameters.yml doesn't exist until after installation is complete.

[2016-08-22 18:10] Guite commented on #780
When you install the module the core should already be installed, shouldn't it? So custom_parameters.yml should exist. Or am I missing something here?

[2016-08-22 19:14] robbrandt commented on #780
No, I'm missing something.  I thought i was replying to the issue I opened for a Zikula installation error :(

[2016-08-23 00:36] robbrandt commented on #775
This one is back.  It seemed wise to be to start over from scratch since core has been updated so much since last week, so this is with build 155, and a fresh "generate" which seems to have included all recent fixed.  Here's the stack trace:

`[1] Symfony\Component\Debug\Exception\FatalErrorException: Error: Call to a member function get() on a non-object
    at n/a
        in /Users/robbrandt/Doc

[2016-08-23 07:05] Guite commented on #775
Thanks. Fixed in 45730d81913209de648895dbd69be36bc2214f00

[2016-08-23 17:03] robbrandt commented on #775
OK, but now #778 is back.  It seems to me that there's a loop here.  Fixing A breaks B, fixing B breaks A, fixing A breaks B, etc.

[2016-08-24 05:39] Guite commented on #545
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;utmX0iFH&#x2F;6-545"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> #545</a>

[2016-08-24 05:39] Guite commented on #624
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ylUXUkgn&#x2F;7-624"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> #624</a>

[2016-08-24 05:39] Guite commented on #730
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;yCYzLlMR&#x2F;8-730"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> #730</a>

[2016-08-24 19:23] Guite commented on #617
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;IuzqFa1g&#x2F;30-rest-support"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> REST-Support</a>

[2016-08-24 19:39] Kaik commented on #617
@Guite this will be very hard to accomplish. I have played with REST using FosRestBundle our core security is not REST compatible second there is a problem with routes and route module as well. There are ways to "fix" the second one.

[2016-08-25 09:09] Guite commented on #777
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ga8m0LmL&#x2F;33-upload-handling-planen"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Upload-Handling planen</a>

[2016-08-25 09:09] Guite commented on #123
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ga8m0LmL&#x2F;33-upload-handling-planen"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Upload-Handling planen</a>

[2016-08-25 09:09] Guite commented on #541
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ga8m0LmL&#x2F;33-upload-handling-planen"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Upload-Handling planen</a>

[2016-08-25 11:59] craigh opened #781 "Do not generate twig functions intended for global use"
The routes module has twig functions like `\Zikula\RoutesModule\Twig\Base\TwigExtension::getImageThumb` and `\Zikula\RoutesModule\Twig\Base\TwigExtension::getUserAvatar` and `\Zikula\RoutesModule\Twig\Base\TwigExtension::profileLink` which are obviously intended for global usage.

If two MOST modules are installed on the same site, these methods will conflict likely causing errors (haven't tested

[2016-08-25 12:07] craigh commented on #781
perhaps I am misunderstanding this...

maybe these functions are not registered with a global type name? but rather something like `zikularoutesmodule_userAvatar`

[2016-08-25 12:07] #781 closed

[2016-08-25 12:08] Guite commented on #781
Yes, they have a module-specific prefix. And of course they are only temporary bridges until a proper replacement is available.

[2016-08-25 18:57] craigh opened #782 "do not use session in installers"
https://github.com/zikula/core/pull/3036/commits/59d43949c120f54bc295c49a2d6c78aaab2124f9

calling anything related to a user calls the session and this is a problem when running from CLI and is a problem when running on PHP7 apparently. Please note the changes in the commit above for the generator.

[2016-08-25 19:36] Guite commented on #782
See also https://github.com/zikula/core/commit/f0a904ac886489fdc3777bd99f5707e714530d19#commitcomment-18780651

[2016-08-26 17:22] Guite commented on #782
Fixed in 5b58c13912534634dece16cde8cffaba241430a9

[2016-08-26 17:22] #782 closed

[2016-08-27 10:43] Guite commented on #545
Implemented in 19e530dc94dcfb02d99185da737263a833de00fb

[2016-08-27 10:43] #545 closed

[2016-08-27 10:48] Guite commented on #727
From #624:

[2016-08-27 10:49] Guite commented on #624
Done except item actions which are treated in #727

[2016-08-27 10:49] #624 closed

[2016-08-28 13:28] Guite commented on #775
Please try the latest webgen and if you stil experience a problem create a new issue providing the stack trace. Thanks.

[2016-08-28 14:58] Guite commented on #730
First step done in cca4fda4c27d45c695dbe53be2657d24c297e20f

[2016-08-29 07:42] Guite commented on #730
Remaining ones done in 90b0dcfe246bf211c60f25b46ed3c93acc123a79

[2016-08-29 07:42] #730 closed

[2016-08-29 07:43] Guite commented on #727
@craigh What is your current thinking about it?

[2016-08-29 07:45] Guite commented on #780
@robbrandt Can you please try to reproduce it again? I can't provoke it yet. Maybe it is already fixed...

[2016-08-29 09:58] craigh commented on #727
I think I prefer the LinkContainer but some refactoring or new implementation would be needed as item actions require an argument.I haven't worked on it since April

[2016-08-29 11:32] Guite commented on #727
Why? Couldn't the link container just used as the action helper, too? Like `$linkContainer->generateEntityActionsFor($myEntity)`

[2016-08-29 19:16] craigh commented on #727
currently the [LinkContainerInterface](https://github.com/zikula/core/blob/ce9260a54d368a13351dc9a915f36313ef2df7c7/src/lib/Zikula/Core/LinkContainer/LinkContainerInterface.php) has only two methods and only one intended for public use: `getLinks($type)` so, while your suggestion is possible, it would fall in to the category of a new implementation 😄

[2016-08-29 19:19] craigh commented on #727
my initial thought was to refactor and do something like `getLinks($type, $args = null)` and then a new type of `actions` could be added. This would be BC with existing types (like `admin`, `user`, `account`) and also allow for further expansion.

[2016-08-30 13:48] Guite commented on #715
Note: also remove last occurances of `lct` after #260 is done.

[2016-08-30 13:58] Guite commented on #727
Done in 6505ea49302fee35c225f4f3d1b35d32aa6763f7

[2016-08-30 13:58] #727 closed

[2016-08-30 17:18] Guite commented on #780
Closing as I still can't reproduce this one. If you experience this again please reopen or create a new issue.

[2016-08-30 17:18] #780 closed

[2016-08-31 05:47] robbrandt commented on #775
Different error now.

Catchable Fatal Error: Argument 1 passed to Botanyorg\ConferenceModule\Listener\Base\EntityLifecycleListener::preUpdate() must be an instance of Doctrine\Common\Persistence\Event\PreUpdateEventArgs, instance of Doctrine\ORM\Event\PreUpdateEventArgs given, called in /Users/robbrandt/Documents/htdocs/Conference/vendor/symfony/symfony/src/Symfony/Bridge/Doctrine/ContainerAwareEv

[2016-08-31 06:27] Guite commented on #775
This is not related to the core, going to fix it asap.

[2016-08-31 06:35] Guite commented on #775
Fixed in fc2007ab5653aa67a72784ea776e485d7655f5b8

[2016-09-01 12:23] Portugao commented on #771
Is there a chance that this issue will be fixed in a few days?

[2016-09-01 14:13] Guite commented on #771
Yes.

Which language is set as default language at the general website settings?

[2016-09-01 14:17] Portugao commented on #771
German.

[2016-09-01 17:40] robbrandt opened #783 "An exception has been thrown during the rendering of a template ("Notice: Trying to get property of non-object") in BotanyorgConferenceModule::base.html.twig at line 56."
I have reinstalled the entire site from scratch using RC3, and a freshly generated Conference module.

[1] Twig_Error_Runtime: An exception has been thrown during the rendering of a template ("Notice: Trying to get property of non-object") in "BotanyorgConferenceModule::base.html.twig" at line 56.
    at n/a
        in /Users/robbrandt/Documents/htdocs/Conference/vendor/twig/twig/lib/Twig/Template

[2016-09-01 18:04] Guite commented on #783
Fixed in a4484811e7e84756b4bc5272c1abc11dbfb17276

[2016-09-02 15:08] Guite opened #784 "Use extension api method"
Use `$this->extensionApi->getModuleInstanceOrNull` as a replacement for `ModUtil::available` (see https://github.com/zikula/core/pull/3065 for examples)

[2016-09-02 15:21] craigh commented on #784
That method only works for Bundle type modules

[2016-09-02 15:22] Guite commented on #784
Thanks. Shouldn't be a problem though, as the 1.4 generator creates 2.0 spec :)

[2016-09-02 15:22] craigh commented on #784
I mean - non-bundle modules will return null and so will bundle types that are not available. I don't think it is intended to replace `available` exactly

[2016-09-02 15:38] #784 closed

[2016-09-03 04:38] Guite commented on #771
@Portugao can you send me the latest `MUSound` model by mail?

[2016-09-04 21:37] robbrandt commented on #783
Still getting this error.  This is on a new installation of 1.4.3 "official" and the module generated and newly installed just now.  Here's the stack trace in case there's some small difference I am not seeing:

[1] Twig_Error_Runtime: An exception has been thrown during the rendering of a template ("Notice: Trying to get property of non-object") in "BotanyorgConferenceModule::base.html.twig" at l

[2016-09-04 21:38] robbrandt commented on #783
(tomorrow is a holiday in the US but I might come in to try this again if you want me to try something else.

[2016-09-05 04:27] Guite commented on #783
Well, this is happening in another method, so it is the same error, but a different occurance.

[2016-09-05 04:34] Guite commented on #783
Fixed in 9fa5f01b02fe5e2ce3860602f73b84176fcd0d29

[2016-09-05 04:34] #783 closed

[2016-09-05 09:13] Guite opened #785 "Require Zikula 1.4.4"
- [x] Raise required version for 1.4 target
 - [x] Generator (composer file, zikula manifest file) ba50ba99501fb1c01e738c5fd47ea052be72e4d1
 - [x] Documentation https://github.com/Guite/MostHelp/commit/3208630e311cb148ad54917288125cbcbdf75d78
- [x] Use new features
 - [x] mailProtect filter (see https://github.com/zikula/core/pull/3070) a19d763993b00877931abe4bb704efa9357d6cb1
 - [x] Twig theme en

[2016-09-05 12:24] #771 closed

[2016-09-05 14:34] Portugao commented on #771
Thx, Axel. :+1:
Will check soon.

By the way. The deskop app does not get any updates since 2 weeks.

[2016-09-05 14:52] Guite commented on #771
Yeah I know, this is a problem from the new build system. Have it on my list.

[2016-09-05 17:46] robbrandt opened #786 "Variable "form" does not exist in @BotanyorgConferenceModule/Config/config.html.twig at line 7"
at URL /conference/config/config, using 1.4.3.

[1] Twig_Error_Runtime: Variable "form" does not exist in "@BotanyorgConferenceModule/Config/config.html.twig" at line 7
    at n/a
        in /Users/robbrandt/Documents/htdocs/Conference/vendor/twig/twig/lib/Twig/Template.php line 442

    at Twig_Template->getContext(array('domain' => 'botanyorgconferencemodule', 'app' => object(AppVariable), 'page

[2016-09-05 18:13] robbrandt opened #787 "Error: Maximum function nesting level of '1000' reached, aborting!"
This error has happened when trying to create records in a couple of different entities, which happened to have the versioning attribute.

This stack trace is really long.  Perhaps a few selected lines from the non-plain text version would help?
 DEBUG - SELECT COUNT(b0_.id) AS sclr_0 FROM botanyorg_confer_topic b0_ WHERE (b0_.archiveDatetime >= ? OR b0_.archiveDatetime IS NULL)
WARNING - Translat

[2016-09-05 18:20] robbrandt opened #788 "permalink required?"
In trying to insert the first record into a simple entity, I field in the 1 field I created for it, and skipped the permalink.  I assumed one would be manually created.  When I submitted, I got " The value you selected is not a valid choice." and the permalink field was colored red.  Including a message "This value should not be blank.".

Bug, or misconfiguration on my part?

[2016-09-05 18:26] robbrandt commented on #788
Trying it again from scratch, attempting to get a record submitted I tried to supply the permalink but it appears the field is disabled.  I submit again as above, and once i get the error message above, the field is enabled and I can type something in.  I do so - exactly one word - and I get the following message "The value you selected is not a valid choice." but this time the permalink is not co

[2016-09-05 19:13] craigh commented on #787
XDebug issue https://github.com/zikula/core/issues/2952

[2016-09-06 05:43] #787 closed

[2016-09-06 05:54] Guite commented on #786
Fixed in https://github.com/Guite/MostGenerator/compare/e3545ed5ad14289eaea547edd4c51b66ea16ecae...5ce2c26b2156976e29302c88294a973dc3705e0f

[2016-09-06 05:54] #786 closed

[2016-09-06 16:43] robbrandt commented on #787
And I'm even the one who opened that ticket.  SMH.

[2016-09-06 16:51] robbrandt opened #789 "[Semantical Error] The annotation "@Theme" in method Botanyorg\ConferenceModule\Controller\Base\ConfigController::configAction() was never imported. Did you maybe forget to add a "use" statement for this annotation? in /Users/robbrandt/Documents/htdocs/Conference/modules/Botanyorg/ConferenceModule/Controller (which is being imported from "/Users/robbrandt/Documents/htdocs/Conference/modules/Botanyorg/ConferenceModule/Resources/config/routing.yml")."
[Semantical Error] The annotation "@Theme" in method Botanyorg\ConferenceModule\Controller\Base\ConfigController::configAction() was never imported. Did you maybe forget to add a "use" statement for this annotation? in /Users/robbrandt/Documents/htdocs/Conference/modules/Botanyorg/ConferenceModule/Controller (which is being imported from "/Users/robbrandt/Documents/htdocs/Conference/modules/Botany

[2016-09-07 05:31] #789 closed

[2016-09-07 18:50] Portugao opened #790 "[1.3.x] Creating example entries gives error"
[code]

[2016-09-07 18:52] Portugao opened #791 "[1.3.x] View in backend and frontend gives E_warnings"
[code]

And in backend additionally over the list:

[code]

[2016-09-07 18:53] Portugao opened #792 "[1.3.x] View in frontend gives an non-object error"
[code]

[2016-09-08 00:00] robbrandt commented on #789
Still getting this same error.  Here's the stack trace:

[1] Symfony\Component\Config\Exception\FileLoaderLoadException: [Semantical Error] The annotation "@Theme" in method Botanyorg\ConferenceModule\Controller\Base\ConfigController::configAction() was never imported. Did you maybe forget to add a "use" statement for this annotation? in /Users/robbrandt/Documents/htdocs/Conference/modules/Botanyo

[2016-09-08 03:36] Guite commented on #792
Please apply e0e5d5dd95a44aca46bb381492a6eb048ea89702, try again and report the stack trace.
Thanks.

[2016-09-08 03:36] Guite commented on #790
Please apply e0e5d5dd95a44aca46bb381492a6eb048ea89702, try again and report the stack trace.
Thanks.

[2016-09-08 03:40] #792 closed

[2016-09-08 03:43] Guite commented on #789
The import is there now in your newest module from webgen.
But the stack trace shows that the route system still tries to load it from the old (wrong) location.
So you need to reload routes and/or clear the cache.

[2016-09-08 03:52] #791 closed

[2016-09-08 03:52] Guite commented on #791
In future please enable the development mode and provide the full stack trace. Thank you.

[2016-09-08 06:06] robbrandt commented on #789
Thanks.  How do I reload routes?

[2016-09-08 06:07] Guite commented on #789
In the routes administration.

[2016-09-08 06:30] Portugao commented on #790
This is fixed. And there is another error message.

[2016-09-08 06:31] Portugao opened #793 "[1.3.x] Creating example entries gives new error"
[code]
Sorry; get no stack trace.

[2016-09-08 06:33] #790 closed

[2016-09-08 06:34] Guite commented on #793
Not required here, but you should get one. Do you have development mode activated?

[2016-09-08 06:35] Portugao commented on #793
Yes. Only get the error by LogUtil.

[2016-09-08 06:36] Portugao commented on #793
Sorry...have to check.

[2016-09-08 06:39] #793 closed

[2016-09-08 06:39] Portugao commented on #793
Yes, is enabled now and no stack trace.

[2016-09-08 06:39] Portugao commented on #793
Thx for fixing.

[2016-09-08 16:59] robbrandt commented on #789
Much easier said than done.  Since this error happens on every page I can't actually GET to administration.  I guess I'll reinstall.  No loss in this case.

[2016-09-08 17:09] Guite commented on #789
No... must be another way.
Did you try to empty the `/app/cache/` directory? Afaik the routes are also saved there.

If that does not help @cmfcmf or @craigh can probably help with further suggestions.

[2016-09-08 17:10] robbrandt commented on #789
Yes, I emptied /app/cache.

Already reinstalled, so I can't test other approaches anymore.

[2016-09-08 17:26] robbrandt opened #794 "Notice: Undefined index:"
This happens on installation of the module.
in vendor/doctrine/orm/lib/Doctrine/ORM/Mapping/ClassMetadataInfo.php at line 3111
`

[code]

`

Full stack trace

[1] Symfony\Component\Debug\Exception\ContextErrorException: Notice: Undefined index:
    at n/a
        in /Users/robbrandt/Documents/htdocs/Conference/vendor/doctrine/orm/lib/Doctrine/ORM/Mapping/ClassMetadataInfo.php line 3111

[code]

[2016-09-08 19:48] craigh commented on #789
The missing import for `@Theme` is not a route but an annotation. This is also cached I think. Deleting the cache should had corrected it. I think.

[2016-09-08 20:54] robbrandt commented on #789
I definitely deleted the entire directory structure under /app/cache/.  It didn't help.  That collection of files and data are now in the dustbin of history, however.

[2016-09-09 05:22] Guite commented on #794
Could you please try removing the softdeleteable feature? I guess that it should work then.

[2016-09-09 15:45] Portugao opened #795 "[1.3.x] Further translation does not work correctly"
I have checked now and there is something wrong.

I have standard language german.
The entity has a field 'title' and a field 'description', both translatable.

Now, if I create an entry, the german info get saved into the entity table and the translation table.
And I have 2 more entries in the translation table, that are for the english translation, but in the field locale is 'de' saved and not '

[2016-09-09 15:49] Portugao opened #796 "[1.3.x] With issue 795 there is an issue with related entity"
If I try to create an entry 'movie' there is first an irritation with the dropdown list.
It is black if I click on it and the collection I have created is not there it seems.
If I click again I can choose the collection.

If I click save then, I get this error:

[code]

Stacktrace I will provide in a few minutes.

[code]
#795

[2016-09-10 08:17] Guite commented on #795
Activate multilanguage and see what happens.

[2016-09-10 12:32] Portugao commented on #795
With multilanguage activated it seems to work.

[2016-09-12 06:01] Guite commented on #795
I've commited a change in acc6d489a841d8a6e2cce8b03856da0f855ea835

Now if the multilanguage setting is disabled it should only process the current language. Please check if this works and fixes the problem.

[2016-09-12 06:12] Guite commented on #795
Complete changes: https://github.com/Guite/MostGenerator/compare/3d225ba6ccb16543e847e8f64efb7f5267740f57...4e8b76a5722794c5d74ddde986efdd45cb53e99d

[2016-09-12 07:09] Guite commented on #361
https://github.com/zikula/core/tree/1.4/src/docs/Core-2.0/UsersAndAuthentication

[2016-09-12 15:37] Portugao commented on #795
Hmhmm....

are these changes in webgen revision  e53d749?

[2016-09-12 16:03] Guite commented on #795
Yes.

[2016-09-12 16:29] Portugao commented on #795
Complictated....

It does not work like expected.

Multilanguage disabled gives 2 entries in the translation table for the fields 'title' and 'description' with locale 'de' and an entry in the entity table with german informations for 'title' and 'description'.

Multilanguage enabled is working.

[2016-09-14 06:14] Guite commented on #788
Please open the abstract base class of the entity you tested with. You will find a slug field `protected $slug;` there. In the docblock of this field there is a constraint `* @Assert\NotBlank()`. Please try to remove this and delete the app cache afterwards. (I guess that this constraint is wrong because the slug is computed after validation happened.)

Does this help?

[2016-09-14 07:13] #785 closed

[2016-09-14 14:53] Guite opened #797 "Features for 2.0 target"
The generator can utilise several features of Symfony 3.3 for the `ZK20` target.

#1068 #1069 #1070

[2016-09-14 14:55] Guite commented on #350
refs #152

[2016-09-14 14:58] Guite opened #798 "Improve support for exporting PDF files"
- [x] Make Pdf support configurable (new DSL property for generator settings)
- [x] Require DomPdf using composer (instead of relying on obsolete system plugin)

[2016-09-14 15:23] Guite commented on #795
Please describe what you expect :smile:

[2016-09-14 16:25] Portugao commented on #795
I expect, if I have standard language german, that i get shown the title and the description in the view and display template.
I get only the description.

[2016-09-14 17:54] robbrandt commented on #788
I guess I need some advice on MOST usage, for this and #794.  I tried to open the .mostapp saved at webgen, but in doing so it overwrote all my latest changes in MOST.  Luckily this was in OSX, and all of the most recent work was done in Linux, so I haven't lost anything important.

So, this module is currently in 2 phases: the first phase was basic schema entities/relationships and evaluation of

[2016-09-15 06:19] Guite commented on #788
Yes, compared to earlier versions MOST 0.7 introduces *projects*. Under the hood this is similar to projects in Eclipse. Best use two different names to avoid project collisions.
Maybe try to rename the application within the .mostapp file before importing it into the Phase 2 project.

[2016-09-15 16:27] robbrandt commented on #788
Thanks.  My most (MOST?) immediate problem is the broken diagram.  How do I fix that so that I can edit my project?

[2016-09-16 07:52] Guite commented on #788
Create a backup of the domain model (`~/MostWorkspace/<projectname>/<model>.mostapp`). Afterwards delete the whole project using the `File -> Delete project` main menu entry. Then try to import the domain model into a new project again.

[2016-09-16 18:33] robbrandt commented on #788
Thanks, that worked, I have a diagram now.  I love that MOST updates itself now.  Does that mean that webgen is no longer required to get the latest changes, or is it just MOST UI updates?

[2016-09-16 19:39] Guite commented on #788
The MOST updates include generator changes, too.
But webgen is a bit more convenient when you don't want to do changes, but only want to regenerate. Because it is just pressing a button, while MOST itself needs to be started. Especially when you want to regenerate multiple models webgen is quicker.
But at the end we are talking about saving a few minutes... they don't hurt if you save weeks or mon

[2016-09-17 06:31] #13 closed

[2016-09-17 07:21] Guite commented on #458
The question here is how to derive the initials.
If you have for example vendor `MyCompany` and application `VerySimpleApp` then we have many possibilities:

* MV
* VSA
* MCV
* MVSA
* MCVSA

I'd keep it simple and use the first letter of both vendor and application (MV for the example above).

Opinions?

[2016-09-17 07:22] Guite commented on #458
Another question is how to determine the background colour.

* always use the same colour (which one?)
* configurable in the model
* random
* ...

[2016-09-17 10:00] rallek commented on #458
Two capitals are great. My proposal would be always use the last capital of vendor and application. In your example it would be CA. This would help Michael a lot because all of his apps are starting with MU e.g. ``MUExample``

Background always transparent and text in black. And if this is a problem make it always white and store another one with white letter and black background so it can easily

[2016-09-17 13:23] Guite commented on #458
I disagree with this point. The MU prefix in the application name is legacy. Correct would be having only the vendor MU and the application name Image.

How about this:

* If the application name contains more than one capital use the first and the last one of it. Example: VD for VerySimpleDownloads.
* Otherwise use the first capital of the vendor and the capital of the application name. Example:

[2016-09-17 13:24] rallek commented on #458
VD sounds good!

[2016-09-17 13:41] Guite commented on #458
Nice side effect: For `MU/MUImage` this results in `MU`(rule 1). If Michael removes the MU prefix from the application name somewhen it is still `MU` (ruie 2) :smile:

[2016-09-17 13:49] Portugao commented on #458
What about the upgrade path?

[2016-09-17 14:25] Guite commented on #458
Similar like the methods which are generated for upgrading a module from 1.3.x to 1.4.x. Because this includes a rename, too (for example from `MUImage` to `MUMUImageModule`).

[2016-09-17 15:07] robbrandt commented on #13
👍

[2016-09-17 15:09] rallek commented on #13
Multihook is still alive?

[2016-09-17 15:23] Guite commented on #13
We'll see...

[2016-09-17 18:13] Guite commented on #458
Example for `Zikula\Multisites`:

![admin](https://cloud.githubusercontent.com/assets/277531/18610096/1628e73e-7d13-11e6-96fc-3a7ac478e807.png)
![admin_b](https://cloud.githubusercontent.com/assets/277531/18610098/1ad359c2-7d13-11e6-98ff-601895411ead.png)
![admin_w](https://cloud.githubusercontent.com/assets/277531/18610099/1ecb5bd8-7d13-11e6-9e23-c82b3062eabd.png)

[2016-09-17 18:29] Guite commented on #458
And the Scribite editor plugin images:

![multisites_b](https://cloud.githubusercontent.com/assets/277531/18610170/7732c9d0-7d15-11e6-86d7-752def2943c6.png)
![multisites_w](https://cloud.githubusercontent.com/assets/277531/18610171/773d01a2-7d15-11e6-9ee6-b72cb7dfbabb.png)
![multisites](https://cloud.githubusercontent.com/assets/277531/18610172/774b28ae-7d15-11e6-827c-dd2e39e66350.png)

[2016-09-17 18:31] #458 closed

[2016-09-17 18:38] Guite commented on #458
Other examples from WebGen (MV is MUVideo btw):

![admin](https://cloud.githubusercontent.com/assets/277531/18610222/b3201ce4-7d16-11e6-8d79-7426e352f3e5.png)
![admin](https://cloud.githubusercontent.com/assets/277531/18610224/b529267a-7d16-11e6-8d09-b5cec7e0d4c5.png)
![admin](https://cloud.githubusercontent.com/assets/277531/18610225/b780b118-7d16-11e6-8f15-a67205325f41.png)

[2016-09-17 18:45] Guite commented on #458
@rallek @Portugao @cmfcmf @craigh @robbrandt Wouldn't it look even better if the MOST icon was centered?

[2016-09-17 19:16] Portugao commented on #458
Would be nice if the letters had the same width like the icon.

[2016-09-17 19:38] rallek commented on #458
Centered or not doesn't matter for me. First it is important to have a different icon if you have two modules in development. Later everybody can create his own icon if he do not like this ones.

I am happy to see this implemented right now! Thanks Axel!

[2016-09-19 06:44] Guite commented on #458
This would require using a font like Courier where all letters have the same width. At the moment Arial is used which looks a bit nicer imho.

[2016-09-19 06:49] Guite commented on #458
Here is an example how it would look like if we'd center the icon:

![admin_b](https://cloud.githubusercontent.com/assets/277531/18624191/e7c5dd1e-7e45-11e6-90cf-383dce30e536.png)
![admin_w](https://cloud.githubusercontent.com/assets/277531/18624192/e7cdffb2-7e45-11e6-831d-9a73f8f8614d.png)
![admin](https://cloud.githubusercontent.com/assets/277531/18624193/e7d8ea12-7e45-11e6-8eb8-3b880bf06011.png

[2016-09-19 06:50] Guite commented on #458
Changed in d2a6f0f24e155da2c6aa1cb909360d1abe801118

[2016-09-19 16:36] Guite commented on #795
@Portugao please remind me at the camp; we will check and fix it together!

[2016-09-21 07:45] Guite commented on #777
Closed as dup of #541

[2016-09-21 07:45] #777 closed

[2016-09-21 07:46] Guite commented on #233
Closed as dup of #541

[2016-09-21 07:52] Guite commented on #541
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ga8m0LmL&#x2F;33-upload-handling"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Upload-Handling</a>

[2016-09-21 08:02] Guite commented on #233
Reopening, As StofDoctrineExtensionsBundle does not support DoctrineExtensions 3 yet, we can not use Uploadable in 0.7 yet.

[2016-09-21 09:39] Guite opened #799 "Support detectCorrupted constraint"
The `detectCorrupted` constraint was introduced in Symfony 3.1. Thus, it is not supported for Zikula 1.4 and will be activated for the 2.0 target instead.
It will be added to the DSL as part of #541 though.

https://symfony.com/doc/current/reference/constraints/Image.html#detectcorrupted

[2016-09-21 09:40] Guite commented on #797
See also #799

[2016-09-21 11:29] Guite commented on #541
New properties have been added to the DSL:

https://github.com/Guite/MostHelp/commit/a2dbde43c11c5a6866e38c8f2199aff232a94201
https://github.com/Guite/MostLocales/commit/b2935dffb7c34936b0036ab8e1876f8a965b12c3
https://github.com/Guite/MostGenerator/commit/263817c5f203fa781f22c281001b6d76a3b3bcbf

[2016-09-24 08:14] rallek opened #800 "upload handling should consider file size"
as discussed during camp zikula 2016 we propose to add a possibility to define the file size reduction during the upload. This should be configurable in the created module like simple media.

[2016-09-24 08:31] Guite commented on #800
This is about shrinking images exceeding a predefined maximum size.

[2016-09-24 12:27] cmfcmf opened #801 "Cannot start ModuleStudio 0.7-dev on Windows 10"
![image](https://cloud.githubusercontent.com/assets/2145092/18808438/085e5db4-8263-11e6-9b12-669b0aafcb21.png)

[2016-09-24 12:53] rallek opened #802 "Please implement "Save as ..." for projects"
I want to use a project to reuse it for a new idea. There it would be great to be able to save a project as a new one with another name.

[2016-09-24 14:59] #795 closed

[2016-09-25 16:20] Portugao opened #803 "[1.3.x] Wrong name for base classes"
[code]

[2016-09-26 15:35] Guite commented on #800
![](https://github.trello.services/images/mini-trello-icon.png) [Function for shrinking images to max size](https://trello.com/c/D6deVxlE/45-function-for-shrinking-images-to-max-size)

[2016-09-26 15:42] #803 closed

[2016-09-26 15:49] Portugao commented on #803
Sorry, this issue is for all base classes.
Did you change the naming of classes? All files should have the same name like the sub classes.
for example:
Version.php
Base/Version.php

[2016-09-26 15:50] Portugao commented on #803
Maybe my words were missunderstandable?!

[2016-09-26 15:52] Guite commented on #803
Base classes are abstract now. To make this clear their name has also an `Abstract` prefix now. So the `Version` base class is named `AbstractVersion` for example.

[2016-09-26 15:53] Guite commented on #803
This was the change: 94f8294485de3b20c23240b92bbfc86ada6cbb88

[2016-09-26 15:53] Guite commented on #803
(Feel free to mail or slack me if you want to talk about the details in German)

[2016-09-26 15:55] Portugao commented on #803
Ok. 👍

[2016-09-26 18:26] Portugao opened #804 "[1.3.x] classes not found trying to install"
[code]

[2016-09-27 06:32] #804 closed

[2016-09-27 07:32] Portugao commented on #804
Seems not to be fixed.

in bootstrap line 21:
``
include_once 'Base/bootstrap.php';
[code]

[2016-09-27 08:57] Guite commented on #804
Thanks, I forgot that. Fixed in 665fe878b7f741db99774037312f36ec8bfb599b

[2016-09-27 11:18] Portugao opened #805 "[1.3.x] <?php missing in bootstrap files"

[2016-09-27 11:21] Portugao opened #806 "[1.3.x] after fixing 805 old error message"
[code]
like in #804

[2016-09-27 11:56] #805 closed

[2016-09-27 12:00] #806 closed

[2016-09-27 12:30] Portugao opened #807 "[1.3.x] another class not found - install failed"
[code]

[2016-09-27 12:41] #807 closed

[2016-09-27 13:47] Portugao commented on #807
Sorry.
Not fixed.
[code]

[2016-09-27 14:15] Guite commented on #807
Thanks. There was another occurance. Fixed in fa2ac040d2940f735b1bef5aa26c0964c7d7b477

[2016-09-27 16:16] Portugao opened #808 "[1.3.x] another class not found - install failed"
[code]

[2016-09-27 16:17] Portugao opened #809 "[1.3.x] further class not found - install failed"
[code]

[2016-09-27 16:19] Guite commented on #808
Please recheck the latest version. In the version I just downloaded from webgen it says:

[code]
which is correct. There is no `AbstractMUVideo_Entity_Base_AbstractCollectionTranslation` there.

[2016-09-27 16:21] #809 closed

[2016-09-27 16:35] Portugao commented on #808
Seems to be fixed.

[2016-09-27 16:35] #808 closed

[2016-09-27 16:37] Portugao opened #810 "[1.3.x] another class not found and an invalid php call - install failed"
[code]
[code]

[2016-09-27 16:54] #810 closed

[2016-09-27 17:28] Portugao commented on #810
Yippieh. Is installed. Thx a lot. 👍

[2016-09-27 20:42] Portugao opened #811 "[1.3.x] in external/find.tpl there is twig code"
Line 83:
[code]

[2016-09-28 05:45] robbrandt opened #812 "Searching on two category registries with an AND"
I have a MOST app I am using (MUVIdeo) where I have created several different category registries for the movie entities.  I need to do searches where TWO different categories meet selection criteria.  For example where the Sport category = Football AND the School category = Faber College.  However the DQL generated includes this WHERE:

WHERE (((tblCategories.category IN (:propNameSchools) AND tb

[2016-09-28 06:41] #811 closed

[2016-09-28 06:46] Guite commented on #812
To change that the join would need to be changed from one central join for all categories to a dedicated join for each registry. Take a look into the repository class, there is something like:

[code]

and

[code]

Here is an example from the Doctrine manual showing how to add a specific condition to a join call:

[code]

I guess this could be adapted to add a join for each category registry prope

[2016-09-29 13:56] Guite commented on #800
This feature has been implemented:

https://github.com/Guite/MostHelp/commit/e10fc1f1ba621488ccf8b48e8259b2c2561bcbfd
9e0d19f34b1f3238da1c730d36c971700598b817

[2016-09-29 13:56] #800 closed

[2016-09-30 16:29] Portugao opened #813 "[1.3.x] 1.4.x stuff in type finder"
There are namespace and use stuff is typical for 1.4.x.

[2016-09-30 16:45] Guite commented on #813
Can you please specify which file you are refering to?

[2016-09-30 16:48] Portugao commented on #813
lib/ModuleName/Form/Type/Finder/EntityFinderType.php

[2016-09-30 16:51] Portugao commented on #813
Also in the base classes

[2016-09-30 17:02] Portugao opened #814 "[1.3.x] twig stuff in external templates"
Twig stuff in templates/external/entity/info.tpl line 4 or line 14

[2016-09-30 17:37] #813 closed

[2016-09-30 17:40] #814 closed

[2016-10-01 07:29] Portugao opened #815 "[1.3.x] abstract classes in Form/Plugins not found in sub classes"
Abstract is missing

[2016-10-01 07:30] Portugao opened #816 "[1.3.x] ObjectSelector classes in From/Plugins with wrong names"
One Abtract too much

[2016-10-01 08:10] #816 closed

[2016-10-01 08:13] #815 closed

[2016-10-01 10:39] Portugao opened #817 "[1.3.x] wrong names in the form/plugin base class files"
[code]
Should be:
[code]

[2016-10-01 10:43] Guite commented on #817
Nope.
The hierarchy is:
MUSound_Form_Plugin_AbstractRelationSelectorAutoComplete
extends MUSound_Form_Plugin_Base_AbstractRelationSelectorAutoComplete
extends MUSound_Form_Plugin_AbstractObjectSelector
extends MUSound_Form_Plugin_Base_AbstractObjectSelector

[2016-10-01 10:43] #817 closed

[2016-10-01 10:43] Portugao commented on #796
If I do not choose a collection I can create an entry without an error message.

It looks like it depends on edit type. If I change form active_edit_passive_edit to active_edit_passive_chosse , it seems there is no issue....

[2016-10-01 10:45] Portugao commented on #817
Hmmhmm...I will check

[2016-10-01 10:53] Guite commented on #796
As a workaround you can add a persist cascade to the relationship in the model.

[2016-10-01 10:59] Portugao opened #818 "[1.3.x] Form handler class not found"
[code]

[2016-10-01 11:05] Portugao commented on #796
Should I do this in both directions?

[2016-10-01 11:09] #818 closed

[2016-10-01 11:21] Guite commented on #796
Yes, I think this makes sense.

[2016-10-01 12:10] Portugao commented on #796
Ok. Thx.

[2016-10-01 12:48] Portugao opened #819 "[1.3.x] AbstractRelationSelectorList not found"
´´´
Fatal error: Class 'MUSound_Form_Plugin_Base_AbstractRelationSelectorList' not found in /domain/modules/MUSound/lib/MUSound/Form/Plugin/RelationSelectorList.php on line 18
[code]

[2016-10-01 12:58] #819 closed

[2016-10-02 10:14] Portugao opened #820 "[1.3.x] typo in base classes of needles"
Line 78:
[code]
Missing quotation marks.

[2016-10-02 10:36] Guite commented on #820
What is the typo? :see_no_evil:

[2016-10-02 10:41] Portugao commented on #820
behind movie apostrophe missing

[2016-10-02 10:46] #820 closed

[2016-10-06 22:41] craigh opened #821 "change Zikula_ServiceManager typehint"
change `Zikula_ServiceManager` typehint to `Zikula\Bridge\DependencyInjection\ContainerBuilder` ASAP the former extends the latter, so there should be no issues.

[2016-10-06 22:44] craigh commented on #821
you can replace `use Symfony\Component\DependencyInjection\ContainerBuilder;` import

[2016-10-07 05:37] Guite commented on #821
Additionally I need to check if any methods of `Zikula_ServiceManager` are used which need to be refactored then.

[2016-10-07 05:47] Guite commented on #821
Out of interest: why do we need `Zikula\Bridge\DependencyInjection\ContainerBuilder ` at all?

[2016-10-07 07:17] #821 closed

[2016-10-07 09:18] craigh commented on #821
that was drak's. I don't know. the decision was made before me.

[2016-10-08 15:01] Portugao opened #822 "[1.3.x] Seems, pending content support does not get generated depending on settings"
I enabled the generating of pending content support.
But it does not get generated. Seems it depends on the other setting in this setting part?!

For MUVideo ist does not get, for MUSound it does get generated. Actual models on webgen.

[2016-10-08 18:52] Guite commented on #822
From the manual:

MUSound has a `STANDARD` workflow, so it is generated. MUVideo has no special workflow, so no pending content is supported here.

Closing. Feel free to reopen if you see still any issue.

[2016-10-08 18:52] #822 closed

[2016-10-08 22:07] craigh opened #823 "eliminate Api's that are called via ModUtil"
for example here: https://github.com/zikula/core/blob/4b8a4b51c5b0e4863b57672dbf18124bd65a0c02/src/system/RoutesModule/Controller/Base/RouteController.php#L246

this should be eliminated as ModUtil is incompatible with Core-2.0

refactor to a helper class or service.

[2016-10-08 22:10] craigh opened #824 "generation errors"
`$currentUrlObject` is undefined here: https://github.com/zikula/core/blob/4b8a4b51c5b0e4863b57672dbf18124bd65a0c02/src/system/RoutesModule/Controller/Base/RouteController.php#L268

`$controllerHelper` is defined and unused here: https://github.com/zikula/core/blob/4b8a4b51c5b0e4863b57672dbf18124bd65a0c02/src/system/RoutesModule/Controller/Base/RouteController.php#L143

[2016-10-08 22:13] craigh commented on #823
also - do not use an `$args` parameter in method names. like this: https://github.com/zikula/core/blob/4b8a4b51c5b0e4863b57672dbf18124bd65a0c02/src/system/RoutesModule/Api/Base/SelectionApi.php#L100

but rather delineate each parameter.

[2016-10-09 09:20] Guite commented on #824
The first one is already fixed in https://github.com/zikula/core/commit/9011896bebd23609e31fbca9aa0dcbe71d3bf63d and https://github.com/Guite/MostGenerator/commit/725e00b3d00c1cea0ddf74a46299bc9e02916972

Looking into the second one now.

[2016-10-09 09:32] Guite commented on #824
Second one fixed in https://github.com/zikula/core/commit/e7cccd5eca7967e625b9af955d7e74b0bf60938c and 51688af55e8c21416991e7aaa9e8318e6c491814

[2016-10-09 09:32] #824 closed

[2016-10-09 12:00] Portugao commented on #822
Ah ok; did not think about that. Thx.

[2016-10-12 13:48] Guite commented on #812
@robbrandt could be I was wrong above and no custom joins are needed. You might look at `CategoryApi#buildFilterClauses` and override it to build a custom filter condition.

[2016-10-12 13:48] Guite commented on #812
The column names can be identical, but you need to work with `tblCategories.categoryRegistryId` to target a specific registry.

[2016-10-12 14:44] #823 closed

[2016-10-14 12:55] Guite commented on #801
Seems like windows executable need to be signed.

https://github.com/openscad/openscad/issues/1818
https://blogs.msdn.microsoft.com/vsnetsetup/2013/01/09/windows-smartscreen-prevented-an-unrecognized-app-from-running-running-this-app-might-put-your-pc-at-risk/
http://praxistipps.chip.de/von-windows-smartscreen-wurde-der-start-einer-unbekannten-app-verhindert-das-sollten-sie-beachten_42876
https://

[2016-10-14 13:08] Guite commented on #801
For now I am going to add some documentation about this. The signing process won't be added for 0.7 though.

[2016-10-14 13:15] Guite commented on #801
https://github.com/Guite/MostHelp/commit/a8bfbf0da14737d9a0cde50f97544de6cc402600

[2016-10-15 13:13] Portugao commented on #801
You can start it, if you click on more informations....

[2016-10-15 13:37] Portugao opened #825 "[1.3.x] typo in Api/Base/AbstractCategory"
[code]

[2016-10-15 14:08] Portugao opened #826 "[1.3.x] missing ) in Block/Base/AbstractItemList.php"
line: 333

[2016-10-16 06:20] #825 closed

[2016-10-16 06:20] #826 closed

[2016-10-16 20:24] Portugao opened #827 "Cannot generate module, get error"
I get a M2T Exception error message.
Only a folder named 'model_export' is there with some files.

[2016-10-16 20:26] Portugao commented on #827
Maybe it depends on missing bundles, that were not loaded by starting MOST. I talked about these problems some days ago in Slack.

[2016-10-17 06:21] Guite commented on #827
Is this a new installation or did you update an earlier one?

[2016-10-17 15:01] Portugao commented on #827
I downloaded the BETA version just published; have I to delete something in the workspace?

[2016-10-18 07:09] Guite commented on #827
Just tested generating using the beta version. It works in Kubuntu without problems. So it is either related to the Windows version (you are using Windows 8, right?) or to your model.
Is the model processed in the webgen? Could you send it to me by mail?

[2016-10-18 12:39] Portugao commented on #827
Yes; win 8.1.
Webgen works with the uploaded model 'Products'. You can get the model there.

[2016-10-18 14:41] Guite commented on #827
I can replicate it using Windows 8 in a VM.

[2016-10-18 17:41] Portugao commented on #827
Hmmhmmm...so I did not make a mistake. Hope you can fix it.

[2016-10-19 07:40] #827 closed

[2016-10-19 08:01] Guite commented on #827
The fix should now be available as a staging update.

[2016-10-19 15:24] Portugao commented on #827
Super. I have just checked and it works.
Thx a lot, Axel.

[2016-10-25 13:32] Guite opened #828 "Support Bic constraint"
https://symfony.com/doc/2.8/reference/constraints/Bic.html

[2016-10-26 05:30] Guite opened #829 "Remove XML import feature?"
The `pntablesToXML.php` script has been removed from the core's master branch. Thus, somewhen either remove the XML import functionality completely or change documentation by explictly pointing to another branch.

cc @craigh

[2016-10-26 09:24] craigh commented on #829
I removed it because it seems old - isn't it a transition tool from Core-1.2 -> Core-1.3? Anyway - it is still included with Core-1.x always.

I'm not opposed to providing it somewhere else if it is needed.

[2016-10-26 09:35] Guite commented on #829
Yes, it is old. Indeed the XML import feature is only there to create a model for an existing old module having a (pn)tables.php file. We don't need to keep that forever of course :-)

[2016-10-26 10:25] craigh commented on #829
if we need something like this it would be better to recreate it as a Symfony console command I think.

[2016-10-26 15:04] Guite opened #830 "Refactor usage of Imagine"
Change usage of Imagine utilising the runtime options of LiipImagineBundle. See https://github.com/zikula/core/pull/3122 and http://symfony.com/doc/current/bundles/LiipImagineBundle/index.html

[2016-10-28 06:35] Guite opened #831 "Use LocaleApi"
https://github.com/zikula/core/blob/1.4/src/docs/Core-2.0/Api/LocaleApi.md

[2016-10-31 08:21] rallek opened #832 "make ~/MostWorkspace configurable"
It would be nice to make the path configurable. At least the path for the folder where the models should go.

[2016-10-31 15:42] Guite commented on #832
When you create a new project you can choose another location by unsetting the `Use default location` option.

![screenshot_20161031_164159](https://cloud.githubusercontent.com/assets/277531/19860438/f413149c-9f88-11e6-848e-d52bec60d7c9.png)

Is that what you need?

[2016-10-31 15:53] Guite commented on #832
Unfortunately this setting is currently ignored. The project is still saved at the default location.

[2016-10-31 16:11] rallek commented on #832
It would be nice but the meaning is to define the default somewhere

[2016-11-01 09:18] Guite opened #833 "Translatable issues in 1.4"
[code]

cc @rallek

[2016-11-01 09:56] Guite opened #834 "Use tabs for translatable fields"
Instead of fieldsets translatable fields should be arranged in a tabbar having one tab for each locale.

[2016-11-01 10:08] #833 closed

[2016-11-01 11:42] Guite commented on #828
This is now implemented:
- https://github.com/Guite/MostGenerator/commit/c961135e08dee4f5e2001bacffd0fcf1442317e5
- https://github.com/Guite/MostHelp/commit/cc517fcbf56b259c41bd08f0b54a6a07924f6e54
- https://github.com/Guite/MostLocales/commit/1cc5aaa559c5ad117c8e1ae78adf6cb5916e937b

[2016-11-01 11:42] #828 closed

[2016-11-04 13:04] Guite commented on #834
This won't be done in the near future, because when translatable fields are contained in tabs one could possibly miss mandatory fields.

[2016-11-04 14:06] Guite commented on #794
In the meanwhile a short fix related softdeleteable has been added. Could you retry installing the module?

[2016-11-04 14:06] Guite commented on #812
Any news?

[2016-11-04 15:09] Guite commented on #831
Fixed by 6ea1b764a7eea1a781f6621352ab61d242bf821d

[2016-11-04 15:09] #831 closed

[2016-11-04 16:39] robbrandt commented on #15
@craigh your links above are broken.  I think these are what you referenced:

https://github.com/zikula-modules/DizkusModule/tree/master/AbstractHookedTopicMeta.php
https://github.com/zikula-modules/DizkusModule/tree/master/HookedTopicMeta

[2016-11-05 08:43] Guite commented on #788
@robbrandt could you elaborate on the state of this issue?

[2016-11-05 11:18] #830 closed

[2016-11-05 14:50] robbrandt commented on #788
Unfortunately, I haven't retested this. I will get it done before the sprint.

[2016-11-08 18:47] #541 closed

[2016-11-09 21:59] craigh opened #835 "do not generate index.html as placeholder"
Do not generate `index.html` files as a placeholder in directories that do not allow browser access because an html file in this location implies such access.

for example:
 - `src/system/RoutesModule/Resources/translations/index.html`
 - `src/system/RoutesModule/Resources/public/images/index.html`

These should not be allowed - there are likely other places (I'm not actively looking, just noticed

[2016-11-10 08:55] #835 closed

[2016-11-10 17:11] Portugao opened #836 "Cannot generate because of getting an error message"
Fehler beim beobachten des Generierungsfortschritts.

Tested with new beta version of today.

[2016-11-10 17:51] #836 closed

[2016-11-10 18:05] Guite commented on #836
The fix is now available in staging updates. After MOST has updated generation works again.

[2016-11-10 18:26] Portugao commented on #836
Nice, try to update now. Thx. 👍

[2016-11-10 18:35] Guite opened #837 "Ensure current project is closed when importing a model"
When a model is imported into a project, the current project needs to be closed to make sure a new project is created. Otherwise one could end up having two diagrams opened in one projects which leads to follow-up problems.

[2016-11-10 19:41] Portugao commented on #836
Sorry; MOST does not get the update. tried to start again or to get it with the way over the help section.

[2016-11-11 08:44] Guite commented on #836
@Portugao I've updated the beta download archives. So you can just download it again to get the latest build.

[2016-11-11 14:05] Portugao commented on #836
Thx a lot, Axel.
It works fine now.
Thx for new MOST.

[2016-11-11 17:57] Portugao opened #838 "[1.3.x] Creating item in 1:1 relation failed on source side"
[code]
Settings:

- bidirectional
- cascade for both directions: persist

[2016-11-11 19:22] robbrandt opened #839 "ReflectionException in ArgumentValidator.php line 38: Class Botanyorg\ConferenceModule\Helper\Base\WorkflowHelper does not exist"
This happens during installation of the module in Build 96 and freshly generated module via webgen.

"WorkflowHelper" seems familiar but I can't find an issue relating to it being missing.

    in ArgumentValidator.php line 38
    at ReflectionParameter->getClass() in ArgumentValidator.php line 38
    at ArgumentValidator->validate(object(ReflectionParameter), object(Reference)) in ArgumentsValida

[2016-11-12 06:19] #839 closed

[2016-11-12 12:31] Portugao opened #840 "[1.3.x] Typo in entity category and translation files"
[code]

[2016-11-12 12:42] Guite commented on #840
What is the typo?

[2016-11-12 13:14] Portugao commented on #840
The class names should not have a second Repository...

[2016-11-12 13:16] Guite commented on #840
Indeed, the suffix is only used in 1.4. Checking.

[2016-11-12 13:21] #840 closed

[2016-11-13 23:57] Guite opened #841 "Support dynamic feature enablement"
Implement a `FeatureActivationHelper` providing a `isEnabled($featureName, $objectType)` method. In the base class this returns `true` if the corresponding feature (categories, attributes, translations, meta data, tree relatives) is enabled at runtime for the given entity name.

Inject service container to allow arbitrary customisation in the child class. For example [News 5.0.0](https://github.co

[2016-11-17 15:26] Guite opened #842 "Support category-based permissions."
Use `CategoryUtil::hasCategoryAccess()` method for checking if access to a certain category is given or not.

For 1.4 target check if categories are enabled at all using `FeatureActivationHelper`.

For reference: News and PostCalendar use it like this:
https://github.com/zikula-modules/News/blob/master/lib/News/ResultChecker.php#L24
https://github.com/craigh/PostCalendar/blob/master/lib/PostCalend

[2016-11-17 18:07] robbrandt commented on #839
👍 Module installs nicely again.

[2016-11-22 01:29] robbrandt opened #843 "Currency field, update requires editing the value"
Using 0.7.0 beta 2, targeting ZK136.

I have a decimal field with the Currency property set.  I submitted a form where the value was entered as 2500, successfully.  When I tried to edit the existing record, the value was displayed as 2,500.00, and an error message stated "Please enter a valid number in this field.".  I tried submitting the form without editing, and (rightly so!) nothing happened.

[2016-11-22 06:10] Guite commented on #843
I suspect this is a problem in the old Form component in the core, because the module just assigns the field value to the formdateinput plugin.
For testing you can try removing `DataUtil::formatForDisplay` here: https://github.com/zikula/core/blob/1.3/src/lib/Zikula/Form/Plugin/DateInput.php#L219
Another workaround would be removing the comma in the `locale.ini` file: https://github.com/zikula/cor

[2016-11-25 07:00] Guite opened #844 "Let form handler redirect to referer by default"
If no `returnTo` parameter is specified redirect to the page where the editing was started.

cc @robbrandt

[2016-11-25 07:02] Guite commented on #844
In addition it should be possible to specify arbitrary urls, for example to return to a "Thank you" page.

[2016-11-25 07:11] robbrandt commented on #844
👍

[2016-11-25 14:48] Guite opened #845 "Use new category apis"
After https://github.com/zikula/core/pull/3215 has been merged.
For `ZK14DEV` target only.

[2016-11-30 14:19] Guite opened #846 "Review homepath usages"
The 1.4 target uses the `pagevars.homepath` variable in some locations where the base url is needed. This needs to be corrected.

@craigh any idea how to get the base url in a Twig template?

[2016-11-30 14:21] craigh commented on #846
from `{{ app.request.baseUrl }}` or similar

[2016-12-01 21:09] Guite opened #847 "Provide UA for field requirements"
If fields require a certain value which is potentially unclear for the user provide a description (e.g. by showing a tooltip) with a corresponding explanation. For example *You may enter a number between 1 and 100*.

cc @rallek

[2016-12-02 12:14] Guite opened #848 "Avoid raw asset inclusion"
Instead of `<link rel="stylesheet" href="{{ pagevars.homepath }}web/bootstrap/css/bootstrap.min.css" type="text/css" />` use `pageAddVar()` or whatever.

[2016-12-02 12:30] #848 closed

[2016-12-02 12:37] Guite commented on #846
The correct one is `{{ app.request.getSchemeAndHttpHost() }}` (without trailing slash).

[2016-12-02 14:04] #846 closed

[2016-12-02 14:32] #844 closed

[2016-12-02 16:34] #841 closed

[2016-12-02 17:54] #842 closed

[2016-12-02 18:06] Guite opened #849 "Recheck upload form type"
Seems like there is no upload button available so no file can be uploaded.
Thought this was fixed though.

Recheck using the model provided by @rallek

[2016-12-02 18:07] Guite opened #850 "User selector broken"
User selector based on typeahead is not working.

Additionally consider providing the id of the current user as a default value. Maybe fixed, maybe as DSL option.

cc @rallek

[2016-12-02 18:09] Guite opened #851 "Categories form type is broken"
The form field does not contain any categories.
Could also be a core bug (cc @craigh).

[2016-12-03 09:02] #849 closed

[2016-12-03 09:41] Guite commented on #851
Interestingly this seems to affect only the 1st (predefined) registry. After creating a second registry this one is handled correctly.

[2016-12-03 09:47] Guite commented on #851
Found the problem. It is not a core bug.

[2016-12-03 10:52] #851 closed

[2016-12-03 13:44] Guite commented on #850
Going to commit the fix for this very soon.
Note: you need at least build 164 of the 1.4.4 core, as the auto completion component has been upgraded.

[2016-12-03 13:53] #850 closed

[2016-12-10 01:35] robbrandt opened #852 "Valid Geographical data fails validation"
My current location, Carpinteria CA, USA, has the following long/lat

Latitude: 34.4054738
Longitude: -119.5281600

However when submitting a form, the validation fails, saying the longitude is too long a number. "Longitude: Error! Input text must be no longer than 11 characters." Removing a zero works.  Probably a combination of the negative and 3 digits to the left of the decimal?

[2016-12-10 01:42] robbrandt opened #853 "Option for "geographical" to NOT get browser's location"
I have a need for geographical data, but 99% of the time, the user won't be in the location that needs to be entered.  It will be confusing when the browser asks for this, they may not realize why it's asking.

[2016-12-10 06:16] Guite commented on #852
@gfr can you elaborate and propose a fix?

[2016-12-10 14:01] #845 closed

[2016-12-10 14:49] Guite opened #854 "Deprecate meta data"
The meta data extension does not provide any benefit and should be marked as deprecated in order to remove it in a later version.
If somebody needs this, he can just create a normal entity for that.

[2016-12-10 15:10] Guite opened #855 "Replace standard fields implementation by DoctrineExtensions"
Keep the DSL property.
But use Timestampable and Blameable for the implementation, as the standard fields listener is deprecated starting in Zikula 1.4.5 and will be removed in 2.0.

[2016-12-11 11:14] #855 closed

[2016-12-12 06:26] Guite opened #856 "Use Blameable traits"
Follow-up from #855
Blameable offers some traits which simplify the integration. Use these.

[2016-12-13 16:50] #852 closed

[2016-12-13 17:30] #854 closed

[2016-12-13 17:51] Guite commented on #837
Editors and projects are now (after CI deployed next build) closed before importing a new project.

[2016-12-13 17:51] #837 closed

[2016-12-13 17:55] #853 closed

[2016-12-13 17:56] Guite commented on #853
A DSL option would be too much for this specific feature. Thus, the geolocation code is still generated, but commented out by default. If one needs it, he can just activate it in the template.

[2016-12-13 18:00] rallek opened #857 "please add the feature to switch the contributor"
On my sites we do have users helping other users to create content. But the content should look like it is from the helped user.

News do have the possibility to change the contributor of the news. I would like to see the option at properties of an entity to switch on this feature as well.

[2016-12-13 18:16] Guite commented on #843
ping @robbrandt

[2016-12-13 18:21] robbrandt commented on #853
👍

[2016-12-13 18:28] robbrandt commented on #857
I have a similar issue but considered it too much of a corner case to raise as a feature request.  Perhaps not.

My issue is the ability to "assign" a record to an owner.  The specific case is one where an application is made but submitting a form, and there are child records called evaluations.  A moderator needs to create an evaluation and assign it to a reviewer.  If this was done via the creat

[2016-12-13 19:04] Guite commented on #228
Closed in favour of #340.

[2016-12-13 19:04] #228 closed

[2016-12-13 19:09] Guite commented on #829
@robbrandt @rallek @gfr @espaan @cmfcmf does anybody need the xml import? If not I could remove it for 0.7 already.

[2016-12-13 19:09] Guite commented on #829
@portugao ?

[2016-12-13 19:11] Guite commented on #335
This is fixed in 0.7.0. Instead of the status line explanations are now shown in tooltips of question mark icons offered by the new properties view. These tooltips contain strings which automatically use multiple lines for longer texts.

See this screenshot:

![screenshot_20161213_201035](https://cloud.githubusercontent.com/assets/277531/21154896/5ad624fe-c170-11e6-9859-a62450e36ae8.png)

[2016-12-13 19:11] #335 closed

[2016-12-13 19:15] robbrandt commented on #829
I've never used it but always considered it an asset.  So consider my vote a very weak yes.  I won't be upset if it goes.  Does it require frequent maintenance? I guess if need arises pntablesToXML.php could be refactored as a standalone script utility.

[2016-12-13 19:21] Guite commented on #829
pnTablesToXML.php is a standalone tool. But if support in MOST is removed (which is what this issue is about) you won't be able anymore to import the xml file into a modeling project. Then you need to create the model manually instead.

[2016-12-13 19:23] rallek commented on #829
What is it?

[2016-12-13 19:24] Guite commented on #829
See http://modulestudio.de/documentation/c/40-Migration#migrating-old-modules

[2016-12-13 19:25] robbrandt commented on #829
Ah.  Well, I have a list of "someday" module upgrades.  Maybe I should just do quickie conversions of them into a model while the tool is available.  There is a finite list of 1.2 module to convert; if they were all done, there would be no debate would there. ;)

[2016-12-13 19:27] Guite commented on #829
Well, it doesn't take you days to create a model by hand, does it? :smile:

Of course I can postpone the removal to 0.7.1 or 0.7.2. My point for asking was just that 0.7.0 has the slogan *less is more* as it significantly reduced the tooling to a rather minimal UI focusing only on what is actually needed and reasonable instead of almost everything which is made possible by Eclipse. This raises the

[2016-12-13 19:30] robbrandt commented on #829
I have one 1.2 module where rebuilding the model would take a lot of time.  The project is dormant though, so nothing has been scheduled.

I will spend some time over the holidays in a location with poor internet connectivity.  This sounds like a good project for that time period.  Can you wait until after Jan 1?

[2016-12-13 19:32] rallek commented on #829
@robbrandt You may want to save the current 0.7.0 beta somwhere to be able to do the job later as well ;-)

[2016-12-13 19:32] Guite commented on #829
Sure. Will move this issue to 0.7.1 again. I don't think that 0.7.0 final will arrive this year, but I won't do any tooling changes after the 1st RC though.

[2016-12-13 22:54] Portugao commented on #829
I think you can delete it.

[2016-12-14 09:25] Guite commented on #198
Aloha plugin depends on solving https://github.com/zikula-modules/Scribite/issues/158

[2016-12-14 10:17] #856 closed

[2016-12-14 14:16] Guite commented on #124
Closed as *won't fix*, since such functionality is rather subject of implementing a specific application.

[2016-12-14 14:16] #124 closed

[2016-12-14 14:18] Guite commented on #253
Closed as *won't fix*, as we have now individual icons done in #458.

[2016-12-14 14:18] #253 closed

[2016-12-14 14:19] Guite commented on #390
@craigh any idea about to achieve this?

[2016-12-14 18:27] Guite commented on #829
@robbrandt about next week the beta3 will be released. As @rallek suggested you can save a copy of it to use it later for the xml import stuff. I am going to remove the function after beta3 so in RC1 it won't be available anymore.

[2016-12-14 20:46] craigh commented on #390
that is what `\Zikula\ThemeModule\Engine\ParameterBag` does. but that needs to be recoded.

[2016-12-15 01:43] craigh commented on #390
refs https://github.com/zikula/core/issues/3298

[2016-12-15 09:22] Guite commented on #838
Postponed to 0.7.1: the issue does not block the module of @portugao since he made the association unidirectional. The problem does not affect unidirectional relationships, only bidirectional ones.

[2016-12-15 09:34] Guite commented on #796
Postponed to 0.7.1.

[2016-12-15 11:46] Guite commented on #260
1.3 support will be removed after 0.7 final has been released.
As the 1.3 generator is really stable, you can then always use 0.7 for generating 1.3.x modules, even if newer versions are available. The automatic update functionality is now asking you whether available updates should be installed or not. There is also a new preference option available which allows you to permanently ignore updates

[2016-12-15 17:18] robbrandt commented on #838
Just a heads up in case 0.70 Final is imminent...  I also experienced a relational issue of some sort with a One to Many bidirectional on 1.3.x; I created a child record but no relationship created.  I haven't had time to figure out whether I made a model error or if it's a bug.

And.... this 1.3.x issue is postponed to 0.71, but 1.3.x support will be dropped after 0.70 Final?  Did I miss somethin

[2016-12-15 17:49] Guite commented on #838
Bidirectional one to many relationships are much more often used than one to one. I use them in almost every model. Thus it is strange you encounter problems with these. Create a new issue for that which will be approached for 0.7.0.

[2016-12-16 08:46] Guite opened #858 "New options for list/detail display and sorting"
Add new properties for controlling whether a field should be visible in the list and detail pages and whether it may be used for sorting. All these criteria should be activated by default.

[2016-12-16 08:46] Guite commented on #858
Both flags should be `true` by default.

[2016-12-16 09:28] Guite commented on #858
Maybe visibility on display pages would be interesting as well.

[2016-12-16 09:36] Guite commented on #844
Need to add another fix for this: the referer needs to be skipped if it is the display or edit page of the edited object and if this object is deleted.

[2016-12-16 10:02] Guite opened #859 "Thumbnail generation fails in 1.4 target"
Currently image thumbnails are not properly generated because of https://github.com/liip/LiipImagineBundle/issues/837

[2016-12-16 14:40] rallek commented on #858
perfect!

[2016-12-16 16:11] #858 closed

[2016-12-16 16:14] Guite commented on #858
https://github.com/Guite/MostLocales/commit/c340aff5969d5e74fca746dc7107e389eb0f17a5
https://github.com/Guite/MostHelp/commit/052d9d66c68252b8f168d6539c26befdf4271588

[2016-12-16 16:19] Guite commented on #858
http://modulestudio.de/documentation/c/87-GeneratorReference#entity-field-display-type

[2016-12-16 19:13] Guite opened #860 "File and image constraint do not work"
At the moment the File and Image constraints are not working properly.

After the fix test it with Ralf's Parkhaus module which contains a field which has set both `allowSquare` and `allowLandscape` to `false`.

[2016-12-17 09:50] rallek opened #861 "Extend options for list/detail display and sorting"
I love the feature you introduced with #858! Thanks a lot. Now I do have an idea to extend this feature a bit:

* It would be great to add the creator in the list view and
* to disable the workflow state for the list view and the display.
* Finally it would be great to have a different setting for the frontend and for the backend.

Might be you will introduce this with 0.7.1 ;-)

[2016-12-17 11:23] #860 closed

[2016-12-17 11:38] rallek opened #862 "extend namingScheme for uploads"
It would be great to have the possibility to upload e.g. a picture and change the filename. E.g. a picture is named DSC4356.jpg it should be able to rename it to userdefined.jpg during upload.

The user can change the file name before uploading, clear. But allow to change the filename would be a great feature (I have seen that at sharepoint, there you can even edit the filename afterwards). You ma

[2016-12-17 13:29] #859 closed

[2016-12-17 15:58] Portugao opened #863 "[1.4.x] Calling backend from extensions module leads to frontend template and not to admin template"
Actual model in webgen.....

[2016-12-17 16:11] Portugao commented on #863
Have to exlpalin better.
I get the backend, but not with admin template but user template.

I changed the title of issue

[2016-12-17 16:23] Guite commented on #863
What do you mean with *user template*? Both admin and user area use the same template. Do you see the *With selected entries* select element at the bottom of the entry view page? Then this is the admin area.

[2016-12-17 16:26] Portugao commented on #863
There is admin and master template in the bootstrap theme.
If i call the admin area, for example extensions module backend, I have one column. If i call the backend of Eternizer I have 2 columns and the search block on the left side.

Maybe its a core bug?

[2016-12-17 16:31] Portugao commented on #863
If i call the hooks of the module I'm back on the admin template....

[2016-12-17 16:37] Guite commented on #863
@craigh could this be a core bug? The generated modules definitely use the `Theme` annotation. Also the admin panel is shown. But there is also the left column displayed, which should only be done for the user area.

[2016-12-17 16:46] Portugao commented on #863
By the way. I like, that I'm able to install and work with the module; so I can start to make the module 1.4.x compatible. 👍

[2016-12-17 17:00] craigh commented on #863
As long as Theme("admin") then should work like core. Also the annotation class must be imported. See docs

[2016-12-17 17:13] Portugao commented on #863
If I change to using the theme Andreas08 in backend, the module only use it, if I call the hooks.

[2016-12-17 17:48] Guite commented on #863
Found it.

[2016-12-17 17:57] Guite commented on #863
WebGen is updated.

[2016-12-17 18:05] Guite commented on #863
MOST update also available now.

[2016-12-17 19:32] Portugao commented on #863
Sorry. No updates on win 8 computer. Also with 'About' function.....

[2016-12-18 10:31] Guite commented on #863
Did you enable staging updates?

[2016-12-18 11:01] Portugao commented on #863
Sorry. It was disabled.

[2016-12-18 11:01] Portugao commented on #863
It works. Thx.

[2016-12-18 12:13] rallek opened #864 "extend image settings"
The new image settings are great. I would like to see the possibility to make a similar setting for the thumbnails in display and list view.

Also add the chance to edit the quality for the images less than 100%. That might speed up some pages by reducing image file size.

[2016-12-18 12:35] rallek opened #865 "Hide fields with empty data in display template by default?"
In my Parkhaus module I do have tons of optional fields. If the are empty I do not want to show them on Display page.

No problem to do this in the template. But it would be nice to manage this alredy inside MOST.

[2016-12-18 13:43] Guite commented on #864
Proposal:

generate modvars for:

- thumb quality
- for each upload field:
 - thumb mode (inset or outset)
 - thumb size (width x height) for view/display/edit actions (those which are available for the entity in the model)

[2016-12-18 14:20] #864 closed

[2016-12-18 14:23] Guite commented on #865
The `visible` setting is for edit pages only. For display and view pages the `displayType` property is used.

Please elaborate in detail what you expect from this feature request.

[2016-12-18 14:30] rallek commented on #865
For example in my Parkhaus module I do have tons of optional fields. If the are empty I do not want to show them on Display page.

No problem to do this in the template. But it would be nice to manage this alredy inside MOST.

[2016-12-18 15:01] Guite commented on #865
The question is whether empty values should be shown at all. Maybe we can just hide them by default without introducing a setting for that.

[2016-12-18 15:11] rallek commented on #865
fine for me, but fine for all?

[2016-12-18 15:13] Portugao commented on #865
👍

[2016-12-18 15:15] Guite commented on #865
@robbrandt @gfr your opinion about that?

[2016-12-18 15:58] Guite commented on #865
One possible concern is that this increases the template size... there are pro's and con's for the change...

[2016-12-18 16:01] rallek commented on #865
It is just an idea. Place it in far future or close it if it will not be implemented

[2016-12-18 16:12] Guite opened #866 "Improve base directory structure for 1.4"
Depends on #260.

- [x] The generator should generate the module into `<vendor>/<name>Module/`.
- [x] Also the `zclassic` base folder should be removed.
- [x] Also update the generated `install.md` file accordingly.

[2016-12-18 17:58] Guite commented on #864
Removed thumb quality modvar again, since this does not work as part of thumb runtime options.

[2016-12-18 18:29] Guite opened #867 "UTF-8 not always used?"
Seems like when using Windows UTF-8 is not always correctly used.

Similar as #329

@rallek can test.

[2016-12-18 18:33] rallek opened #868 "the readme file in resources/translate should get better content"
Please add some usefull content inside the readme file e.g.:
[code]

It would be perfect if ``VendorModulenameModule`` would be the correct Name for the generated module.

[2016-12-18 18:47] Guite commented on #868
@cmfcmf can you please tell us how to create the routes.pot? Then this instruction could be added, too.

[2016-12-18 19:31] craigh commented on #868
the flag: `--enable-extractor=jms_i18n_routing` is the important part

but I recommend `.po` and not `.pot`

`php app/console translation:extract en --bundle=AcmeDemoModule --enable-extractor=jms_i18n_routing --output-format=po`

[2016-12-18 19:56] rallek commented on #868
``--enable-extractor=jms_i18n_routing`` is working great.
Until #867 is not fixed there I have in my module a problem with *.po files But *.pot is fine. So I will work with that so far. but for routes the *.po is way better because with *.pot you would miss the routes itself.

[2016-12-19 07:04] #868 closed

[2016-12-19 07:53] Guite opened #869 "Use GroupEvents constants"
After https://github.com/zikula/core/pull/3309 has been merged use the new constants introduced in the `GroupEvents` class.

Only for `ZK14DEV` target target.

[2016-12-19 16:46] Portugao opened #870 "[1.4.x] Typo in AbtractMyModuleModule.php"
Some wrong braces....

[2016-12-19 16:47] Portugao commented on #863
Sorry. This issue is back.

[2016-12-19 16:56] Portugao commented on #863
Oh, wait. I have to check again.

[2016-12-19 16:58] Guite commented on #870
Can you give an example?

[2016-12-19 17:00] Portugao commented on #870
[code]

[2016-12-19 17:16] Portugao opened #871 "[1.4.x] Saving settings does not work"
It seems, it depends on workflow, that I cannot save the settings now.

With workflow none it worked.

[2016-12-19 17:43] Portugao commented on #863
It depends on these rows:
[code]

[2016-12-19 17:47] Portugao opened #872 "[1.4.x] Included template in frontend to show waiting entries does not work correctly"
It shows one waiting entry, but I have only entries approved.

[2016-12-19 17:50] Guite commented on #870
What's wrong with that?

[2016-12-19 17:51] Guite commented on #870
It's a hack to make content types work in 1.4. The same is done here https://github.com/zikula-ev/Formicula/blob/master/ZikulaFormiculaModule.php
Closed as won't fix.

[2016-12-19 17:51] #870 closed

[2016-12-19 17:52] Guite commented on #863
What is the url where the problem occurs?

[2016-12-19 17:52] Guite commented on #871
The workflows have nothing to do with the settings.
Please elaborate.

[2016-12-19 17:55] Guite commented on #872
Which template do you refer to? Moderation panel?

[2016-12-19 18:34] Portugao commented on #870
Ok. Than I get a new issue.....

[2016-12-19 18:35] Portugao opened #873 "[1.4.x] Class Content_AbstractContentType not found"
[code]

[2016-12-19 18:46] Portugao commented on #872
Sorry. In the view template above the main content.

[2016-12-19 18:47] Portugao commented on #872
In backend and frontend.

[2016-12-19 18:50] Guite opened #874 "Problem with multiple upload fields"
If one image is replaced, another one (of another field) could accidently be removed.

[2016-12-19 19:02] #873 closed

[2016-12-19 19:44] Portugao commented on #871
I know.
New is that I get no message,  the settings are saved.

[2016-12-19 20:00] Portugao commented on #871
And the changed settings does not get saved.

[2016-12-19 20:01] Portugao opened #875 "[1.4.x] Trying to save a moderation group leads into error message"
[code]

[2016-12-20 07:10] Guite opened #876 "Support item action menus using the MenuModule"
https://github.com/zikula/core/blob/1.4/src/system/GroupsModule/Menu/AdminActionsMenu.php

https://github.com/zikula/core/blob/1.4/src/system/GroupsModule/Resources/views/Group/list.html.twig#L64

[2016-12-20 08:04] #874 closed

[2016-12-20 09:46] Portugao commented on #863
For example:
http://official144.homepages-mit-zikula.de/eternizer/entries/view

[2016-12-20 09:48] Guite commented on #863
This is correct. For the admin view you should call:
http://official144.homepages-mit-zikula.de/eternizer/admin/entries/view

[2016-12-20 09:48] Guite commented on #863
Please check and reply afterwards.

[2016-12-20 09:52] Portugao commented on #863
It is not, because this call is one for the master template in the theme and that have 2 cols.

Like calling site search in the frontend.

[2016-12-20 09:56] Guite commented on #863
I guess I don't understand correctly.
If this is an issue it is a different one than #863, because this was about admin templates. And `/entries/view` is a frontend url, not a backend one.

[2016-12-20 10:04] Portugao commented on #863
Puh. You're right.
I'm a little bit confused, it seems.
Sorry for that.
So I close this and make a new issue.

[2016-12-20 10:04] #863 closed

[2016-12-20 10:06] #871 closed

[2016-12-20 10:06] #875 closed

[2016-12-20 10:09] Portugao opened #877 "[1.4.x] Calling view in frontend does not use the master template of theme"
For example:
http://official144.homepages-mit-zikula.de/eternizer/entries/view
and like expected:
http://official144.homepages-mit-zikula.de/search/

[2016-12-20 10:10] Portugao commented on #872
You can see here for example:
http://official144.homepages-mit-zikula.de/eternizer/entries/view

[2016-12-20 10:14] Guite commented on #872
Currently on it...

[2016-12-20 10:49] #872 closed

[2016-12-20 11:12] #877 closed

[2016-12-20 11:19] #865 closed

[2016-12-20 11:43] Portugao opened #878 "Calling settings with exception"
[code]

[code]

[2016-12-20 11:45] Guite commented on #878
This is caused by that your database has already been updated with a wrong value. In the `module_vars` table update the `moderationGroupForEntries` value to `i:2;` and it will work.

[2016-12-20 11:45] #878 closed

[2016-12-20 11:51] Portugao commented on #878
I will check.

[2016-12-20 11:57] Portugao commented on #878
Great!
Thx a lot.

[2016-12-20 12:47] Portugao opened #879 "[1.4.x] Missing action for selected items in backend"
I miss the action 'approve' to handle several items in the dropdown below the items.

Workflow standard.

[2016-12-20 13:01] #876 closed

[2016-12-20 13:20] Guite commented on #879
With the newest revision I can see the _approve_ action and it also worked without problems. Please try regenerating after webgen has been updated (in about 5 minutes).

[2016-12-20 13:20] #879 closed

[2016-12-20 13:20] Guite commented on #879
Sorry, please wait for another fix for the new item actions menu I just introduced.

[2016-12-20 13:43] #869 closed

[2016-12-20 17:50] Guite opened #880 "Cleanup for controller classes"
- [x] Some imports are missing (for classes used in docblocks)
- [x] Some imports are unneeded (add corresponding conditions for their generation)
- [x] Child classes should only use `{@inheritdoc}` in their docblocks

Depends on #260 and #715

[2016-12-21 18:15] Guite commented on #829
The function has now been removed. So if you want to utilise it use the beta3 and click on _No_ when asked for whether you want to install a found update.

[2016-12-21 18:15] #829 closed

[2016-12-21 18:17] robbrandt commented on #829
Ah!  I was just getting to this!  Too late??

[2016-12-21 18:19] Guite commented on #829
No no, it is still contained in the beta3. But when you start it choose _No_ if it asks you for whether it should install available updates.

So you could have two folders with two installations: one which is kept up to date and one which ignores updates for using the xml import stuff.

[2016-12-21 18:30] robbrandt commented on #829
I just tried it (made a copy of MOST first) and I wasn't given the opportunity to refuse the update.  Just an "OK".  It did an update but I don't see an indication in MOST as to what beta or commit was just installed. In my MOST preferences, I don't have either the "Use staging updates" or "Ignore Updates" checked.  It appears that I still have an option for "Import XML table definition", which I

[2016-12-21 18:33] Guite commented on #829
The change that it asks for the update was introduced a few days ago together with the "ignore updates" function. If it did not ask you, then enable this option in the preferences better to avoid another update (which just not has passed the build server yet ;)).

[2016-12-21 18:36] robbrandt commented on #829
The preferences don't look any different than before(?) but I have checked the "ignore updates" option in my XML Import copy.

[2016-12-21 19:58] Guite commented on #829
For information: you did not get the newest update (removing the feature) yet because staging updates are not activated.

[2016-12-21 21:27] Portugao opened #881 "[1.4.x] Cancel button leads into an error"
If I call the edit form of an existing item and click the cancel button, I get an error.

[code]
[code]

[2016-12-22 07:54] #881 closed

[2016-12-22 08:38] rallek opened #882 "viewQuickNav/list view frontend shound not contain State column"
Normally the frontend list view should not contain the column of the state of an entry. I would prefere only to see this column if you have the right to change the status e.g. only in the backend.

[2016-12-22 08:40] Guite commented on #882
quick navigation is only visible for moderators anyway by default...

[2016-12-22 08:41] Guite commented on #882
moderators is not entirely true. you need `edit` permissions

[2016-12-22 09:02] rallek commented on #882
you are right

[2016-12-22 11:23] rallek commented on #882
Purpose is not the quick navigation. It is the table column at the frontend. So I have to make that manual in the template.
![grafik](https://cloud.githubusercontent.com/assets/935250/21424183/62ab3f7a-c841-11e6-8661-473910305175.png)

[2016-12-22 11:31] rallek opened #883 "please add "Generate detail block""
in settings I can choose ``generate list block``. Same for content ``generate list content type``. For content we do have ``generate detail content type``.

I am missing a ``generate detail block``. Might be we can get a ``Generate random block`` as well.

[2016-12-22 12:17] Guite commented on #883
For a random block you can use the list block with `number of items` set to `1`.

[2016-12-22 12:43] Portugao opened #884 "Strange effect with forms and fields"
The return control field is getting under the action buttons by editing an item.
The tag <fieldset> is away.

So this code in the template does not work like expected:
[code]

Maybe it's a core bug?!

[2016-12-22 13:12] Guite commented on #884
No core bug, I know the reason.

[2016-12-22 13:13] Portugao commented on #884
Ok. That's fine.

[2016-12-22 13:14] #884 closed

[2016-12-22 13:54] Portugao commented on #884
👍

[2016-12-22 16:08] Portugao opened #885 "Trying to edit an item gives red feedback about additional fields"
[code]
The feedback contains that I cannot save the changed datas...

[2016-12-22 16:18] Portugao commented on #885
Maybe it depends on remark field?

[2016-12-22 16:20] Portugao commented on #885
It seems, I'm right, because it appears only in frontend....

[2016-12-22 19:00] Guite commented on #885
Seems this is not a generator problem.
After a fresh generation without any customisations I can submit new entries in both the backend and the frontend.
Please check.

[2016-12-22 19:11] Portugao commented on #885
What does it mean 'without' customisations'?

[2016-12-22 19:21] Portugao commented on #885
Ok. I will check.

[2016-12-22 19:22] Guite commented on #885
Without customisations = just freshly generated, not changed any file.

[2016-12-22 19:25] Portugao commented on #885
It depends on this extended code in the edit.html.twig template:
[code]

[2016-12-22 19:28] Guite commented on #885
Could you please try this:

1. Edit the model @ webgen, removing all `skipFiles` and `markFiles` entries.
2. Regenerate and install the module on a fresh 1.4.4 installation.
3. Test editing in backend and frontend (should work, as this is what I did 10 minutes ago).
4. Readd this extended code in the edit template.
5. Try again. If it does not work any longer we know that this extension is respons

[2016-12-22 19:33] Portugao commented on #885
I expanded the code again and it seems to work:
[code]
Seems also nessecary to delete the cache for new code....although I I set the setting to 'debug = true'.

[2016-12-22 19:35] Portugao commented on #885
Will have some attention on that....for this moment you can close, I think.
Could be reopended if necessary.

[2016-12-22 19:37] #885 closed

[2016-12-23 06:40] #882 closed

[2016-12-23 11:20] Guite opened #886 "Remove remaining Util usages"
There are a few usages of legacy Util classes left. These need to be removed.

- [x] Use `Kernel#isBundle()` instead of `ModUtil::available`
- [x] Eliminate usage of `System`
- [x] Generate only one factory class (`createFoo(), createBar(), getRepository($objectType)`)
- [x] injections of `service_container` should be removed
- [ ] Eliminate all occurences of `Util::` and `Util;`
- [x] Instead of